@import "./variables.scss";

header.menu-3 .nav-menu-icon a i,
header.menu-3 .nav-menu-icon a i:before,
header.menu-3 .nav-menu-icon a i:after {
  background: #222;
}
.menu-3 nav > ul > li {
  padding: 15px 10px;
  text-align: center;
  border-top: 4px solid rgba(255, 255, 255, 0);
  margin-top: -1px;
  margin-left: 0px;
  font-size: 12px;
  font-weight: 300;
  transition: all 0.35s ease-in;
  -webkit-transition: all 0.35s ease-in;
  -moz-transition: all 0.35s ease-in;
  -ms-transition: all 0.35s ease-in;
}
.menu-3 nav > ul > li > a .fa {
  display: none;
}
.menu-3 nav > ul > li > a {
  color: #222;
  font-weight: 400;
}
.menu-3 nav {
  &.menu-secondary > ul > li > a {
    color: #fff;
  }
}
.change-lang {
  float: right;
  padding: 0 !important;
  margin-top: 0 !important;
  padding-right: 15px !important;
  border: none;

  &:hover {
    border-top-color: transparent !important;
  }
  a {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
    float: right;
  }
  img {
    width: 20px;
    opacity: 0.75;
    &:hover,
    &.active-lang {
      opacity: 1;
    }
  }
  .phone-number {
    width: 100%;
    text-align: right;
    font-size: 18px;
    .phone-icon {
      display: inline !important;
      margin-right: 10px;
      font-size: 20px;
    }
  }
}

header.menu-3.color-1 nav > ul > li:hover > a {
  color: $primary-color;
}
.menu-3 nav {
  padding-top: 0px;
  padding-left: 0;
}
.menu-3 nav > ul > li:hover {
  border-top-color: $primary-color;
}
.menu-3 nav > ul > li.active {
  border-top-color: $primary-color;
}
.menu-3 nav > ul > li.active > a {
  color: $primary-color;
}
.menu-3 nav > ul > li:hover > a {
  background: none;
  color: rgba(255, 255, 255, 0.5);
}
.menu-3 nav > ul > li > .dropmenu {
  top: 100%;
  text-align: left;
  border-top: 2px solid $primary-color;
}
.menu-3 nav {
  background: #fff;
  &.menu-primary {
    width: 75%;
  }
  &.menu-secondary {
    background: black;
  }
}

.visible-on-scroll {
  display: none;
}
.scrol {
  .nav {
    margin-top: 10px !important;
  }
  .menu-secondary {
    display: none;
  }
  .visible-on-scroll {
    display: block;
  }
  .hidden-on-scroll {
    display: none;
  }
}
.menu-3 nav > ul > li.active {
  border-top: 0px none !important;
}
header .nav-menu-icon a.active i {
  background: none;
}
.nav {
  margin-top: 20px;
}
.site-brand {
  padding-left: 25px;
}

@media screen and (max-width: 767px) {
  .nav {
    margin-top: 0;
    padding: 10px 0;
  }
  .menu-3 nav {
    &.menu-primary {
      width: 100%;
    }
  }
  .sub-category-list {
    background: black;
    display: none;
    &.visible-list {
      display: block;
    }
  }
}
