@import "./variables.scss";
.promo-badge {
    text-transform: uppercase;
    font-size: 14px;
    background: $primary-color;
    padding: 8px 17px;
    color: #f8f8f8;
    position: absolute;
    right: 20px;
    top: 20px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    &.offer-details-promo-badge {
        right: -80px;
        top: 0;
    }
}
.old-price {
    text-decoration: line-through;
}
.promo-price-bg {
    background: $primary-color;
}
