/* You can add global styles to this file, and also import other style files */
.translations-tabs {
  margin-right: 15px;
}
table button,
.form-footer button {
  margin-right: 15px;
}
.image-container {
  margin: 0 5px;
}
.media-image{
  width: 200px;
  height: 200px;
  margin-bottom: 5px;
  background-size: cover;
}
label.upload-photo-button{
  cursor: pointer;
}
label.upload-photo-button i{
  font-size: 48px;
}
