<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Избор на Подкатегории</h4>
                        <p class="category">Моля изберете 3 подкатегории, които да се показват на главната страница</p>
                    </div>
                    <div class="content">
                        <form class="row" (ngSubmit)="onSaveSubCategories()" #categoriesForm="ngForm">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Подкатегория #1</label>
                                        <select #categoryId="ngModel" name="sub_category_1"
                                            [(ngModel)]="selectedSubCategories.subCategory1" class="form-control"
                                            required>
                                            <option *ngFor="let subcategory of subcategoriesList" [ngValue]="subcategory.id">
                                                {{subcategory.nameBg}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Подкатегория #2</label>
                                        <select #categoryId="ngModel" name="sub_category_2"
                                            [(ngModel)]="selectedSubCategories.subCategory2" class="form-control"
                                            required>
                                            <option *ngFor="let subcategory of subcategoriesList" [ngValue]="subcategory.id">
                                                {{subcategory.nameBg}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Подкатегория #3</label>
                                        <select #categoryId="ngModel" name="sub_category_3"
                                            [(ngModel)]="selectedSubCategories.subCategory3" class="form-control"
                                            required>
                                            <option *ngFor="let subcategory of subcategoriesList" [ngValue]="subcategory.id">
                                                {{subcategory.nameBg}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-success btn-fill"
                                    [disabled]="!categoriesForm.form.valid || categoriesForm.form.pristine">Запазване</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card">
                    <div class="header">
                        <h4 class="title">Абонирани потребители</h4>
                        <p class="category">Here is a subtitle for this table</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th *ngFor="let cell of usersTable.headerRow">{{cell}}</th>
                                    <!-- <th>Действия</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of usersTable.dataRows">
                                    <td>{{ row.id }}</td>
                                    <td>{{ row.email }}</td>
                                    <td>{{ row.created_at }}</td>
                                    <!-- <td>
                                        <button type="button" class="btn btn-danger btn-fill" (click)="deleteOffer(row.id)">
                                            <i class="pe-7s-check"></i>
                                        </button>
                                    </td> -->
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>