<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="header">
                <h4 *ngIf="!data?.id" class="title">Добавяне на държава</h4>
                <h4 *ngIf="data?.id" class="title">Редактиране на държава</h4>
            </div>
            <div class="content">
                <form (ngSubmit)="onSubmit()" #countryForm="ngForm">
                    <!-- {{data | json}} -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-group">
                                <label>Име (BG) *</label>
                                <input #name="ngModel" type="text" name="nameBg" [(ngModel)]="data.nameBg"
                                    class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label>Име (EN) *</label>
                                <input #name="ngModel" type="text" name="nameEn" [(ngModel)]="data.nameEn"
                                    class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label>Име (RU) *</label>
                                <input #name="ngModel" type="text" name="nameRu" [(ngModel)]="data.nameRu"
                                    class="form-control" required />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3 class="col-md-12">Снимки *</h3>
                        <div class="col-md-12">
                            <div class="upload-images">
                                <label for="upload-images" class="upload-photo-button text-success ">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </label>
                                <input #fileUploadInput type="file" id="upload-images" name="upload-images"
                                    class="file-upload hidden" (change)="onImagesChange($event)" />
                            </div>
                            <div *ngIf="data.photo?.path" class="col-md-3 product-image">
                                <div class="media-image" [style.background-image]="sanitize(data.photo.path)"></div>
                                <button type="button" class="btn btn-danger" (click)="deleteImage(data.photo, i)">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h3>Информация (BG)</h3>
                        <div class="col-md-12">

                            <div class="form-group">
                                <label>Описание</label>
                                <div [froalaEditor] [(froalaModel)]="data.descBg"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h3>Информация (EN)</h3>
                        <div class="col-md-12">

                            <div class="form-group">
                                <label>Описание</label>
                                <div [froalaEditor] [(froalaModel)]="data.descEn"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h3>Информация (RU)</h3>
                        <div class="col-md-12">

                            <div class="form-group">
                                <label>Описание</label>
                                <div [froalaEditor] [(froalaModel)]="data.descRu"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 text-danger" *ngIf="errorMessage">
                        {{errorMessage}}
                    </div>
                    <div class="col-md-12 form-footer">

                        <!-- <button type="submit" class="btn btn-success btn-fill">Запазване</button> -->
                        <button type="submit" class="btn btn-success btn-fill"
                            [disabled]="!countryForm.form.valid || !data.photo?.path">Запазване</button>

                        <button type="button" class="btn btn-danger btn-fill" (click)="cancel()">Отказ</button>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>