/*COLOR 1*/
body[data-color="theme-1"] header.color-3 nav > ul > li:hover > a {
  color: #339933; }

body[data-color="theme-1"] .c-button.hv-orange:hover {
  background: #339933;
  border-color: #339933; }

body[data-color="theme-1"] .item-block:hover h3 {
  color: #339933; }

body[data-color="theme-1"] .item-block.style-2 h3:before {
  background: #339933; }

body[data-color="theme-1"] .arr-s-1 .sw-arrow:hover span {
  color: #339933; }

body[data-color="theme-1"] .arr-s-1 .sw-arrow:hover {
  border: 2px solid #339933; }

body[data-color="theme-1"] .bg-orange {
  background: #339933; }

body[data-color="theme-1"] .footer-form input[type="submit"].bg-orange {
  border: 1px solid #339933; }

body[data-color="theme-1"] .footer-form input[type="submit"]:hover {
  color: #339933; }

body[data-color="theme-1"] .tour-block.tour-block-s-1:hover h3 {
  color: #339933; }

body[data-color="theme-1"] header.color-4 nav > ul > li:hover > a {
  color: #339933; }

body[data-color="theme-1"] .c-button.bg-dr-blue {
  border: 2px solid #339933; }

body[data-color="theme-1"] .bg-dr-blue {
  background: #339933; }

body[data-color="theme-1"] .offers-arrow {
  background: #339933; }

body[data-color="theme-1"] .offers-arrow:hover {
  background: #fff;
  border: 5px solid #339933; }

body[data-color="theme-1"] .bg-grey {
  border: 2px solid #339933;
  background: #339933; }

body[data-color="theme-1"] .arrows-travel {
  background: #339933; }

body[data-color="theme-1"] .find-form {
  background: #339933; }

body[data-color="theme-1"] .bg-blue-light {
  background: rgba(74, 229, 209, 0.6); }

body[data-color="theme-1"] .color-blue {
  color: #339933; }

body[data-color="theme-1"] .hover-blue:hover .hover-it {
  color: #339933; }

body[data-color="theme-1"] .hover-blue.underline-block:hover .underline:before {
  background: #339933; }

body[data-color="theme-1"] .c-button.hv-blue-o:hover {
  border-color: #339933; }

body[data-color="theme-1"] .bg-blue {
  background: #339933; }

body[data-color="theme-1"] .c-button.bg-blue {
  border: 2px solid #339933; }

body[data-color="theme-1"] .link-blue:hover {
  color: #339933; }

body[data-color="theme-1"] .c-button.hv-blue:hover {
  border: 1px solid #339933;
  background: #339933;
  color: #fff; }

body[data-color="theme-1"] .c-button.hv-blue {
  border: 1px solid #339933;
  color: #339933; }

body[data-color="theme-1"] .c-button.bg-blue:hover {
  color: #339933; }

body[data-color="theme-1"] .c-button.hv-green-o:hover {
  color: #339933; }

body[data-color="theme-1"] .c-button.bg-green {
  border: 2px solid #339933; }

body[data-color="theme-1"] .bg-green {
  background: #339933; }

body[data-color="theme-1"] .arr-s-2 .sw-arrow:hover {
  border: 2px solid #339933; }

body[data-color="theme-1"] .arr-s-2 .sw-arrow:hover span {
  color: #339933; }

body[data-color="theme-1"] .contry-item:hover img {
  box-shadow: 0px 0px 0px 5px #339933; }

body[data-color="theme-1"] .contry-item:hover h5 {
  color: #339933; }

body[data-color="theme-1"] .hover-green:hover .hover-it {
  color: #339933; }

body[data-color="theme-1"] .hover-green.underline-block .underline:before {
  background: #339933; }

body[data-color="theme-1"] .hover-green.underline-block:hover .underline:before {
  background: #339933; }

body[data-color="theme-1"] .city-entry .nav-tab-item.active {
  color: #339933; }

body[data-color="theme-1"] .city-entry .nav-tab-item:hover {
  color: #339933; }

body[data-color="theme-1"] .color-green {
  color: #339933; }

body[data-color="theme-1"] .link-green:hover {
  color: #339933; }

body[data-color="theme-1"] .color-2.type-2 .top-header-block a:hover {
  color: #339933; }

body[data-color="theme-1"] .color-red {
  color: #339933; }

body[data-color="theme-1"] .c-button.bg-red {
  border: 2px solid #339933; }

body[data-color="theme-1"] .bg-red {
  background: #339933; }

body[data-color="theme-1"] .c-button.bg-red:hover {
  color: #339933; }

body[data-color="theme-1"] .c-button.hv-red:hover {
  background: #339933;
  border-color: #339933; }

body[data-color="theme-1"] .c-button.bg-blue-2 {
  border: 2px solid #339933; }

body[data-color="theme-1"] .bg-blue-2 {
  background: #339933; }

body[data-color="theme-1"] .c-button.hv-blue-2-o:hover {
  color: #339933; }

body[data-color="theme-1"] .color-blue-2 {
  color: #339933; }

body[data-color="theme-1"] .underline.color-blue-2:after {
  background: #339933; }

body[data-color="theme-1"] .icon-block.style-2 .c-button.hv-blue {
  color: #fff; }

body[data-color="theme-1"] .arr-s-5 .sw-arrow:hover {
  border: 2px solid #339933; }

body[data-color="theme-1"] .arr-s-5 .sw-arrow:hover span {
  color: #339933; }

body[data-color="theme-1"] header.color-10 nav > ul > li:hover > a {
  color: #339933; }

body[data-color="theme-1"] .link-blue-2:hover {
  color: #339933; }

body[data-color="theme-1"] .bg-blue-3 {
  background: #339933; }

body[data-color="theme-1"] .c-button.bg-blue-3 {
  border-color: #339933; }

body[data-color="theme-1"] .c-button.hv-blue-3-f:hover {
  background: #339933;
  border-color: #339933; }

body[data-color="theme-1"] .c-button.hv-dr-blue-2-o:hover {
  border: 2px solid #339933;
  color: #339933; }

body[data-color="theme-1"] .bg-dr-blue-2 {
  background: #339933; }

body[data-color="theme-1"] .c-button.bg-dr-blue-2 {
  border: 2px solid #339933; }

body[data-color="theme-1"] .c-button.hv-blue-3-o:hover {
  color: #339933; }

body[data-color="theme-1"] .c-button.bg-red-3 {
  border: 2px solid #339933; }

body[data-color="theme-1"] .bg-red-3 {
  background: #339933; }

body[data-color="theme-1"] .color-red-3 {
  color: #339933; }

body[data-color="theme-1"] .underline.color-red-3:after {
  background: #339933; }

body[data-color="theme-1"] .c-button.hv-red-3-o:hover {
  color: #339933; }

body[data-color="theme-1"] .hover-red-3:hover .hover-it {
  color: #339933; }

body[data-color="theme-1"] .hover-red-3.underline-block:hover .underline:before {
  background: #339933; }

body[data-color="theme-1"] .filter-nav li.selected a {
  background: #339933; }

body[data-color="theme-1"] .filter-nav li.selected a:before {
  border-color: #339933 transparent transparent transparent; }

body[data-color="theme-1"] .filter-nav a:hover:before {
  border-color: #339933 transparent transparent transparent; }

body[data-color="theme-1"] .filter-nav a:hover {
  background: #339933; }

body[data-color="theme-1"] .gal-item.style-3 a:hover .gal-item-desc {
  background: #339933; }

body[data-color="theme-1"] header.color-5 nav > ul > li:hover > a {
  color: #339933; }

body[data-color="theme-1"] .color-dr-blue-2 {
  color: #339933; }

body[data-color="theme-1"] .underline.color-dr-blue-2:after {
  background: #339933; }

body[data-color="theme-1"] .bg-dark-blue {
  background: #339933; }

body[data-color="theme-1"] .loading.dr-blue-2 .object {
  border-top: 5px solid #339933;
  border-left: 5px solid #339933; }

body[data-color="theme-1"] .s_news-title a:hover {
  color: #339933; }

body[data-color="theme-1"] .link-dr-blue-2:hover {
  color: #339933; }

body[data-color="theme-1"] .contact-line a:hover {
  color: #339933; }

body[data-color="theme-1"] .c-button.bg-white {
  color: #339933; }

body[data-color="theme-1"] .c-button.bg-white:hover {
  color: #fff; }

body[data-color="theme-1"] .back-counter .part-counter {
  background: #339933; }

body[data-color="theme-1"] .not-found-number h3 {
  background: #339933; }

body[data-color="theme-1"].bg-dr-blue-2 {
  background: #339933; }

body[data-color="theme-1"] .simple-tab.type-2 .nav-tab-item.active {
  background: #339933; }

body[data-color="theme-1"] .simple-tab.type-2 .nav-tab-item.active:before {
  border-color: #339933 transparent transparent transparent; }

body[data-color="theme-1"] .table.style-3 td:hover {
  background: #339933; }

body[data-color="theme-1"] .arr-s-3 .sw-arrow:hover {
  border: 2px solid #339933;
  color: #339933; }

body[data-color="theme-1"] .change-grid.color-1.active,
body[data-color="theme-1"] .change-list.color-1.active,
body[data-color="theme-1"] .change-grid.color-1:hover,
body[data-color="theme-1"] .change-list.color-1:hover {
  background: #339933; }

body[data-color="theme-1"] header.color-12 nav > ul > li:hover > a {
  color: #339933; }

body[data-color="theme-1"] .sidebar-category.color-1 a:hover,
body[data-color="theme-1"] .sidebar-category.color-1 li.active > a {
  color: #339933; }

body[data-color="theme-1"] .slider-range.color-1 .ui-slider .ui-slider-handle {
  background: #339933; }

body[data-color="theme-1"] .slider-range.color-1 .ui-slider .ui-slider-range {
  background: #339933; }

body[data-color="theme-1"] .cp_content.color-1 .active a,
body[data-color="theme-1"] .cp_content.color-1 a:hover {
  background: #339933; }

body[data-color="theme-1"] .sidebar-category.color-2 a:hover,
body[data-color="theme-1"] .sidebar-category.color-2 li.active > a {
  background: #339933; }

body[data-color="theme-1"] .slider-range.color-2 .ui-slider .ui-slider-handle {
  background: #339933; }

body[data-color="theme-1"] .slider-range.color-2 .ui-slider .ui-slider-range {
  background: #339933; }

body[data-color="theme-1"] .cp_content.color-2 .active a,
body[data-color="theme-1"] .cp_content.color-2 a:hover {
  background: #339933; }

body[data-color="theme-1"] .change-grid.color-2.active,
body[data-color="theme-1"] .change-list.color-2.active,
body[data-color="theme-1"] .change-grid.color-2:hover,
body[data-color="theme-1"] .change-list.color-2:hover {
  background: #339933; }

body[data-color="theme-1"] .list-content .hotel-item.style-9 .buttons-block .bg-white {
  background: #339933;
  border: 2px solid #339933; }

body[data-color="theme-1"] .list-content .hotel-item.style-9 .buttons-block .bg-white:hover {
  background: none;
  color: #339933; }

body[data-color="theme-1"] .cp_content.color-3 .active a,
body[data-color="theme-1"] .cp_content.color-3 a:hover {
  background: #339933; }

body[data-color="theme-1"] .slider-range.color-3 .ui-slider .ui-slider-handle {
  background: #339933; }

body[data-color="theme-1"] .slider-range.color-3 .ui-slider .ui-slider-range {
  background: #339933; }

body[data-color="theme-1"] .change-grid.color-3.active,
body[data-color="theme-1"] .change-list.color-3.active,
body[data-color="theme-1"] .change-grid.color-3:hover,
body[data-color="theme-1"] .change-list.color-3:hover {
  background: #339933; }

body[data-color="theme-1"] .change-grid.color-4.active,
body[data-color="theme-1"] .change-list.color-4.active,
body[data-color="theme-1"] .change-grid.color-4:hover,
body[data-color="theme-1"] .change-list.color-4:hover {
  background: #339933; }

body[data-color="theme-1"] .sidebar-category.color-4 a:hover,
body[data-color="theme-1"] .sidebar-category.color-4 li.active > a {
  color: #339933; }

body[data-color="theme-1"] .slider-range.color-4 .ui-slider .ui-slider-handle {
  background: #339933; }

body[data-color="theme-1"] .slider-range.color-4 .ui-slider .ui-slider-range {
  background: #339933; }

body[data-color="theme-1"] .cp_content.color-4 .active a,
body[data-color="theme-1"] .cp_content.color-4 a:hover {
  background: #339933; }

body[data-color="theme-1"] .accordion.style-1 .acc-title {
  background: #339933; }

body[data-color="theme-1"] .accordion.style-1 .acc-icon {
  background: #339933; }

body[data-color="theme-1"] .accordion.style-1 .acc-title.active .acc-icon:before {
  color: #339933; }

body[data-color="theme-1"] .table.style-1 thead {
  background: #339933; }

body[data-color="theme-1"] .detail-block .details-btn .c-button.hv-blue {
  color: #fff; }

body[data-color="theme-1"] .accordion.style-2 .acc-title {
  background: #339933; }

body[data-color="theme-1"] .accordion.style-2 .acc-icon {
  background: #339933; }

body[data-color="theme-1"] .accordion.style-2 .acc-title.active .acc-icon:before {
  color: #339933; }

body[data-color="theme-1"] .accordion.style-3 .acc-title {
  background: #339933; }

body[data-color="theme-1"] .accordion.style-3 .acc-icon {
  background: #339933; }

body[data-color="theme-1"] .accordion.style-3 .acc-title.active .acc-icon:before {
  color: #339933; }

body[data-color="theme-1"] .accordion.style-4 .acc-title {
  background: #339933; }

body[data-color="theme-1"] .accordion.style-4 .acc-icon {
  background: #339933; }

body[data-color="theme-1"] .accordion.style-4 .acc-title.active .acc-icon:before {
  color: #339933; }

body[data-color="theme-1"] .accordion.style-4 li:before {
  color: #339933; }

body[data-color="theme-1"] .sidebar-category.color-5 a:hover,
body[data-color="theme-1"] .sidebar-category.color-5 li.active > a {
  background: #339933; }

body[data-color="theme-1"] .blockquote.color-1 {
  background: #339933; }

body[data-color="theme-1"] .c-button.hv-dr-blue-2:hover {
  background: #339933; }

body[data-color="theme-1"] .loading.orange .object {
  border-top: 5px solid #339933;
  border-left: 5px solid #339933; }

body[data-color="theme-1"] .loading.dr-blue .object {
  border-top: 5px solid #339933;
  border-left: 5px solid #339933; }

body[data-color="theme-1"] .loading.blue .object {
  border-top: 5px solid #339933;
  border-left: 5px solid #339933; }

body[data-color="theme-1"] .loading.green .object {
  border-top: 5px solid #339933;
  border-left: 5px solid #339933; }

body[data-color="theme-1"] .loading.red .object {
  border-top: 5px solid #339933;
  border-left: 5px solid #339933; }

body[data-color="theme-1"] .loading.sea .object {
  border-top: 5px solid #339933;
  border-left: 5px solid #339933; }

body[data-color="theme-1"] .c-button.hv-sea-o:hover {
  color: #339933; }

body[data-color="theme-1"] .loading.blue-2 .object {
  border-top: 5px solid #339933;
  border-left: 5px solid #339933; }

body[data-color="theme-1"] .loading.dr-blue-2 .object {
  border-top: 5px solid #339933;
  border-left: 5px solid #339933; }

body[data-color="theme-1"] .loading.red-3 .object {
  border-top: 5px solid #339933;
  border-left: 5px solid #339933; }

body[data-color="theme-1"] .c-button.bg-aqua {
  border: 2px solid #339933; }

body[data-color="theme-1"] .bg-aqua {
  background: #339933; }

body[data-color="theme-1"] .tabs-slider .tabs-style-1.nav-tabs > li:hover > a {
  background: #339933; }

body[data-color="theme-1"] .tabs-slider .tabs-style-1.nav-tabs > li.active > a {
  background: #339933; }

body[data-color="theme-1"] .baner-bar .c-button.b-60 {
  background: #339933;
  color: #fff;
  border: 2px solid #339933; }

body[data-color="theme-1"] .baner-bar .c-button.b-60:hover {
  background: none;
  color: #339933; }

body[data-color="theme-1"] .count a.active {
  background: #339933;
  border: 1px solid #339933; }

body[data-color="theme-1"] .baner-bar .ui-slider .ui-slider-range {
  background: #339933; }

body[data-color="theme-1"] .baner-bar .ui-slider .ui-slider-handle {
  background: #339933; }

body[data-color="theme-1"] .header-style-2 nav > ul > li.active > a {
  background: #339933; }

body[data-color="theme-1"] .header-style-2 {
  border-bottom: 2px solid #339933; }

body[data-color="theme-1"] .header-style-2 nav li.type-4 .dropmenu > li:hover > a {
  background: #339933; }

body[data-color="theme-1"] .header-style-2 nav li.type-1 .dropmenu > li:hover > a {
  background: #339933; }

body[data-color="theme-1"] .header-style-2 nav li.type-2 .dropmenu a:hover {
  background: #339933; }

body[data-color="theme-1"] .header-style-2 nav li.type-3 .dropmenu a:hover {
  background: #339933; }

body[data-color="theme-1"] .header-style-2 .drop span a:hover {
  background: #339933; }

body[data-color="theme-1"] .menu-3 nav > ul > li:hover {
  border-top-color: #339933; }

body[data-color="theme-1"] .footer-form input[type="submit"].bg-aqua {
  border: 1px solid #339933; }

body[data-color="theme-1"] .popular-desc .c-button:hover {
  color: #339933; }

body[data-color="theme-1"] .color-aqua {
  color: #339933; }

body[data-color="theme-1"] .hover-aqua:hover .hover-it {
  color: #339933; }

body[data-color="theme-1"] .tour-block:hover h3 {
  color: #339933; }

body[data-color="theme-1"] .object {
  border-top: 5px solid #339933;
  border-left: 5px solid #339933; }

body[data-color="theme-1"] .popular-img:hover a {
  color: #339933; }

body[data-color="theme-1"] .link-aqua:hover {
  color: #339933; }

body[data-color="theme-1"] .low-price {
  background: #339933; }

body[data-color="theme-1"] .c-button.hv-aqua-o:hover {
  color: #339933; }

body[data-color="theme-1"] header.color-1 nav > ul > li:hover > a {
  color: #339933; }

body[data-color="theme-1"] .dtpicker-header .dtpicker-value {
  color: #339933; }

body[data-color="theme-1"] .dtpicker-header .dtpicker-close {
  color: #339933; }

body[data-color="theme-1"] .sw-arrow:hover {
  border: 2px solid #339933; }

body[data-color="theme-1"] .offers-block:hover h3 {
  color: #339933; }

body[data-color="theme-1"] footer.bg-white .footer-block li a:hover {
  color: #339933; }

body[data-color="theme-1"] header.color-9 nav > ul > li:hover > a {
  color: #339933; }

body[data-color="theme-1"] header.color-6 nav > ul > li:hover > a {
  color: #339933; }

body[data-color="theme-1"] header.color-8 nav > ul > li:hover > a {
  color: #339933; }

body[data-color="theme-1"] .color-sea {
  color: #339933; }

body[data-color="theme-1"] .bg-sea {
  background: #339933; }

body[data-color="theme-1"] .c-button.bg-sea {
  border: 2px solid #339933; }

body[data-color="theme-1"] .tp_content h4 a:hover {
  color: #339933; }

body[data-color="theme-1"] .hover-sea.underline-block:hover .underline:before {
  background: #339933; }

body[data-color="theme-1"] .c-button.bg-sea-t {
  border: 2px solid #339933; }

body[data-color="theme-1"] .c-button.hv-sea-t:hover {
  background: #339933; }

body[data-color="theme-1"] .c-button.hv-sea:hover {
  background: #339933;
  color: #339933;
  border-color: #339933; }

body[data-color="theme-1"] .link-sea:hover {
  color: #339933; }

body[data-color="theme-1"] .accordion.style-5 .acc-title {
  background: #339933; }

body[data-color="theme-1"] .accordion.style-5 .acc-icon {
  background: #339933; }

body[data-color="theme-1"] .accordion-chooser a:hover,
body[data-color="theme-1"] .accordion-chooser a.active {
  background: #339933; }

body[data-color="theme-1"] .accordion.style-5 .acc-title.active .acc-icon:before {
  color: #339933; }

body[data-color="theme-1"] .date-f {
  color: #339933; }

body[data-color="theme-1"] .bg-dark.type-2 .contact-info i {
  color: #339933; }

body[data-color="theme-1"] .footer-share a:hover {
  color: #339933; }

body[data-color="theme-1"] .tags-b:before {
  background: #339933; }

body[data-color="theme-1"] .link-red:hover {
  color: #339933; }

body[data-color="theme-1"] .menu-3 nav > ul > li > .dropmenu {
  border-top: 2px solid #339933; }

body[data-color="theme-1"] .menu-3 nav > ul > li.active {
  border-top: 3px solid #339933; }

body[data-color="theme-1"] .menu-3 nav > ul > li.active > a {
  color: #339933; }

body[data-color="theme-1"] .check-option.active span {
  background: #339933;
  border: 1px solid #339933; }

body[data-color="theme-1"] .check-option:hover span {
  background: #339933;
  border: 1px solid #339933; }

body[data-color="theme-1"] .accordeon-entry.active h5,
body[data-color="theme-1"] .accordeon-entry h5:hover {
  background: #339933; }

body[data-color="theme-1"] .accordeon-entry h5:after {
  background: #339933; }
