.pr-0 {
  padding-right: 0; }

.pl-0 {
  padding-left: 0; }

.min-height-500 {
  min-height: 500px !important; }

.ml-10 {
  margin-left: 10px !important; }

.mt-0 {
  margin-top: 0 !important; }

.mt-10 {
  margin-top: 10px !important; }

.mt-25 {
  margin-top: 25px !important; }
