<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="header">
                <h4 *ngIf="!data?.id" class="title">Добавяне на дестинация</h4>
                <h4 *ngIf="data?.id" class="title">Редактиране на дестинация</h4>
            </div>
            <div class="content">
                <form (ngSubmit)="onSubmit()" #destinationForm="ngForm">
                    <!-- {{data | json}} -->
                    <div class="col-md-12">
                        <h3 class="col-md-12">Снимки * <small>Добавете поне 1 снимка</small></h3>
                        <div class="col-md-12">
                            <div class="upload-images">
                                <label for="upload-images" class="upload-photo-button text-success">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </label>
                                <input #fileUploadInput type="file" id="upload-images" name="upload-images"
                                    class="file-upload hidden" (change)="onImagesChange($event)" />
                            </div>
                            <div *ngFor="let image of data.photos; let i = index" class="col-md-3 image-container">
                                <div class="media-image" [style.background-image]="sanitize(image.path)"></div>
                                <button type="button" class="btn btn-danger" (click)="deleteImage(image, i)">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Държава *</label>
                            <select #country="ngModel" name="country" [(ngModel)]="data.countryId" class="form-control"
                                required>
                                <option [ngValue]="null" disabled hidden>Изберете държава</option>
                                <option *ngFor="let country of countriesList" [ngValue]="country.id">
                                    {{country.nameBg}}</option>
                            </select>
                            <div *ngIf="country.invalid && (country.dirty || country.touched)"
                                class="alert alert-danger">
                                <div *ngIf="country.errors.required">
                                    Държава е задължително поле
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <button type="button" class="btn btn-default translations-tabs"
                            [class.btn-primary]="activeTab === lang.languageCode" *ngFor="let lang of data.translations"
                            (click)="activeTab = lang.languageCode">{{ languagesMapping[lang.languageCode] }}
                        </button>
                    </div>


                    <div class="col-md-12" *ngFor="let lang of data.translations"
                        [hidden]="activeTab !== lang.languageCode">
                        <h3>Информация на {{ languagesMapping[lang.languageCode] }}</h3>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Име</label>
                                <input type="text" class="form-control" name="{{lang.name}}_destination"
                                    placeholder="Име" [(ngModel)]="lang.name">
                            </div>

                            <div class="form-group">
                                <label>Описание</label>
                                <div [froalaEditor] [(froalaModel)]="lang.description"></div>
                            </div>

                            <div class="form-group">
                                <label>Полезна информация</label>
                                <div [froalaEditor] [(froalaModel)]="lang.usefulInfo"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 text-danger" *ngIf="errorMessage">
                        {{errorMessage}}
                    </div>
                    <div class="col-md-12 form-footer">
                        <!-- <button type="submit" class="btn btn-success btn-fill">Запазване</button> -->
                        <button type="submit" class="btn btn-success btn-fill"
                            [disabled]="!destinationForm.form.valid || !data.photos.length">Запазване</button>

                        <button type="button" class="btn btn-danger btn-fill" (click)="cancel()">Отказ</button>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>