<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="header">
                <h4 *ngIf="!data?.id" class="title">Добавяне на подкатегория</h4>
                <h4 *ngIf="data?.id" class="title">Редактиране на подкатегория</h4>
            </div>
            <div class="content">
                <form (ngSubmit)="onSubmit()" #countryForm="ngForm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Име (български)</label>
                                <input type="text" class="form-control" name="nameBg" [(ngModel)]="data.nameBg"
                                    placeholder="Име (български)">
                            </div>
                            <div class="form-group">
                                <label>Име (английски)</label>
                                <input type="text" class="form-control" name="nameEn" [(ngModel)]="data.nameEn"
                                    placeholder="Име (английски)">
                            </div>
                            <div class="form-group">
                                <label>Име (руски)</label>
                                <input type="text" class="form-control" name="nameRu" [(ngModel)]="data.nameRu"
                                    placeholder="Име (руски)">
                            </div>
                            <div class="form-group">
                                <label>Категория *</label>
                                <select name="category" [(ngModel)]="data.categoryId"
                                    class="form-control" name="categoryId" required>
                                    <option *ngFor="let category of categoriesList; let i = index" [ngValue]="category.id">
                                        {{ category.nameBg }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h3 class="col-md-12">Снимки *</h3>
                            <div class="col-md-12">
                                <div class="upload-images">
                                    <label for="upload-images" class="upload-photo-button text-success ">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </label>
                                    <input #fileUploadInput type="file" id="upload-images" name="upload-images"
                                        class="file-upload hidden" (change)="onImagesChange($event)" />
                                </div>
                                <div *ngIf="data.photo?.path" class="col-md-3 product-image">
                                    <div class="media-image" [style.background-image]="sanitize(data.photo.path)"></div>
                                    <button type="button" class="btn btn-danger" (click)="deleteImage(data.photo, i)">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>


                        <!-- <h3 class="col-md-12">Снимки *</h3>
                        <div class="col-md-12">
                            <div class="upload-images">
                                <label for="upload-images" class="upload-photo-button text-success ">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </label>
                                <input #fileUploadInput type="file" id="upload-images" name="upload-images"
                                    class="file-upload hidden" (change)="onImagesChange($event)" />
                            </div>
                            <div *ngIf="data.photo?.path" class="col-md-3 product-image">
                                {{data.photo.path}}
                                <div [style.background-image]="sanitize(data.photo.path)">asdgfas asdfas fasd fasf asdf asdf asdf asdf asd fas <h3>asdfa</h3></div>
                                <button type="button" class="btn btn-danger" (click)="deleteImage(data.photo, i)">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div> -->

                    </div>

                    <div class="form-footer">
                        <button type="submit" class="btn btn-success btn-fill">Запазване</button>
                        <button type="button" class="btn btn-danger btn-fill" (click)="cancel()">Отказ</button>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>
