
<div class="book-now-area">
  <div class="book-now-area-head">
    <p><%= texts.bookNow %></p>
  </div>
  <div class="book-now-area-checkin-checkout-form">
    <input type="text" placeholder="Check in?" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Check in?'" name="check" class="check bna-checkin">
    <input type="text" placeholder="Check out?" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Check out?'" name="check" class="check bna-checkout">
  </div>
  <div class="book-now-area-date-picker">
    <div id="datepicker"></div>
  </div>
  <div class="book-now-area-select-box">
    <div class="people-count">
      <p><%= texts.adult %></p>
      <select>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </div>
    <div class="people-count">
      <p><%= texts.children %></p>
      <select>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </div>
    <div class="select-room-type">
      <p><%= texts.typeRoom %></p>
      <select>
        <option>Studio</option>
        <option>One bed</option>
        <option>Two bed</option>
        <option>Appartment</option>
      </select>
    </div>
  </div>
  <div class="book-now-area-check-boxes">
    <label class="checkbox">
      <input type="checkbox">
      <span><span class="checkbox-inside-span"><%= texts.agreeTermsAndConditions %></span></span>
    </label>
          <label class="checkbox">
      <input type="checkbox">
      <span><span class="checkbox-inside-span"><%= texts.agreeTermsAndConditions %></span></span>
    </label>
  </div>
  <div class="book-now-area-promo-code">
    <a href="/">
      <p><%= texts.promoCode %>?</p>
    </a>
  </div>
  <div class="book-now-area-availability">
    <a href="/book-now">
      <p><%= texts.checkAvailability %></p>
    </a>
  </div>
</div>

<div class="book-now-overflow" id="book-now-overflow"></div>