<footer class="bg-dark type-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="footer-block">
                    <!-- <img src="img/logo_header.png" alt="" class="logo-footer"> -->
                    <div class="f_text color-grey-7">All inquiries for overnight stays, reservations and offers made
                        using www.infotours.bg are processed by our partners from „Burgas Travel Tour“ LTD – a licensed
                        tour operator and agent company, with registration certificates Nr. РК-01-7699 / Nr. РК-01-7467,
                        issued under the Bulgarian legislation by the Ministry of tourism. </div>
                    <div class="footer-share">
                        <a href="#"><img src="/img/Facebook.png" width="32" height="32"></a>
                        <a href="#"><img src="/img/Instagram.png" width="32" height="32"></a>
                        <a href="#"><img src="/img/Twiter.png" width="32" height="32"></a>
                        <a href="#"><img src="/img/Youtube.png" width="32" height="32"></a>
                    </div>
                </div>
            </div>




            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="footer-block">
                    <h6>Contact Info</h6>
                    <div class="contact-info">
                        <div class="contact-line color-grey-3"><i class="fa fa-map-marker"></i><span>Aenean vulputate
                                porttitor</span></div>
                        <div class="contact-line color-grey-3"><i class="fa fa-phone"></i><a href="tel:93123456789">+93
                                123 456 789</a></div>
                        <div class="contact-line color-grey-3"><i class="fa fa-envelope-o"></i><a
                                href="mailto:">letstravel@mail.com</a></div>
                        <div class="contact-line color-grey-3"><i class="fa fa-globe"></i><a
                                href="#">let’s_travel@world.com</a></div>

                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="footer-block">
                    <h6>Join our mailing list</h6>
                    <div class="input-style-1">
                        <input type="email" name="email" id="newsletter-email" placeholder="Enter your email" required>
                    </div>
                    <button type="submit"
                        class="c-button bg-dr-blue hv-transparent submit-newsletter-button"><span>submit</span></button>
                    <p id="newsletter-success"><%= translation.FOOTER.NEWSLETTER_SUCCESS %></p>
                    <p id="newsletter-error"><%= translation.FOOTER.NEWSLETTER_ERROR %></p>
                </div>
            </div>
        </div>
    </div>


    <div class="footer-link bg-black">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright">
                        <span>&copy; 2020 All rights reserved. Infotours</span>
                    </div>
                    <!-- <ul>
        <li><a class="link-aqua" href="#">Privacy Policy </a></li>
        <li><a class="link-aqua" href="#">About Us</a></li>
        <li><a class="link-aqua" href="#">Support </a></li>
        <li><a class="link-aqua" href="#">FAQ</a></li>
        <li><a class="link-aqua" href="#">Blog</a></li>
        <li><a class="link-aqua" href="#"> Forum</a></li>
      </ul> -->
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="/js/jquery-2.1.4.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/idangerous.swiper.min.js"></script>
<script src="/js/jquery.viewportchecker.min.js"></script>
<script src="/js/isotope.pkgd.min.js"></script>
<script src="/js/jquery.circliful.min.js"></script>
<script src="/js/jquery.mousewheel.min.js"></script>
<script src="/js/all.js"></script>