<header class="color-1 hovered menu-3">
    <a id="back-to-top"></a>
    <div class="container-fluid pl-0 pr-0">
        <div class="row">
            <div class="col-md-12">
                <div class="nav">
                    <div class="site-brand col-md-3">
                        <a href="/" class="logo">
                            <img src="/img/logo_header.png" alt="lets travel">
                        </a>
                        <div class="nav-menu-icon">
                            <a href="#">
                                <i></i>
                            </a>
                        </div>
                    </div>
                    <nav class="menu menu-primary pr-0">
                        <ul class="col-md-12 pr-0">
                            <li class="type-1 hidden-on-scroll <%=(path==''? 'active':'')%>">
                                <a href="/"><%= translation.HEADER.HOME %>
                                    <span class="fa fa-angle-down"></span>
                                </a>
                            </li>
                            <li class="type-1 hidden-on-scroll <%=(path=='about-us'? 'active':'')%>">
                                <a href="/about-us"><%= translation.HEADER.ABOUT_US %>
                                    <span class="fa fa-angle-down"></span>
                                </a>
                            </li>
                            <li class="type-1 hidden-on-scroll <%=(path=='contacts'? 'active':'')%>">
                                <a href="/contacts"><%= translation.HEADER.CONTACTS %>
                                    <span class="fa fa-angle-down"></span>
                                </a>
                            </li>
                            <li class="type-1 hidden-on-scroll <%=(path=='documents'? 'active':'')%>">
                                <a href="/documents"><%= translation.HEADER.DOCUMENTS %>
                                    <span class="fa fa-angle-down"></span>
                                </a>
                            </li>
                            <% categories.forEach(function(category) { %>
                            <li class="type-1 visible-xs">
                                <a href="#"
                                    class="secondary-mobile-menu-item"><%= category["name"+ lang.charAt(0).toUpperCase() + lang.slice(1)] %>
                                    <span class="fa fa-angle-down"></span>
                                </a>
                                <ul class="sub-category-list">
                                    <% category.subcategories.forEach(function(subcat) { %>
                                    <li class="type-1">
                                        <a
                                            href="/subcategories/<%= subcat.id %>"><%= subcat["name"+ lang.charAt(0).toUpperCase() + lang.slice(1)] %></a>
                                    </li>
                                    <% }); %>
                                </ul>
                            </li>
                            <% }); %>

                          <% categories.forEach(function(category) { %>
                            <li class="type-1 visible-on-scroll">
                                <a href="#"><%= category["name"+ lang.charAt(0).toUpperCase() + lang.slice(1)] %>
                                    <span class="fa fa-angle-down"></span>
                                </a>
                                <ul class="dropmenu">
                                    <% category.subcategories.forEach(function(subcat) { %>
                                    <li>
                                        <a
                                            href="/subcategories/<%= subcat.id %>"><%= subcat["name"+ lang.charAt(0).toUpperCase() + lang.slice(1)] %></a>
                                    </li>
                                    <% }); %>
                                </ul>
                            </li>
                            <% }); %>
                            <li class="change-lang">
                                <a href="?clang=ru">
                                    <img src="/img/flags/ru.png" alt="" class="<%=(lang=='ru'? 'active-lang':'')%>">
                                </a>
                                <a href="?clang=en">
                                    <img src="/img/flags/uk.png" alt="" class="<%=(lang=='en'? 'active-lang':'')%>">
                                </a>
                                <a href="?clang=bg">
                                    <img src="/img/flags/bg.png" alt="" class="<%=(lang=='bg'? 'active-lang':'')%>">
                                </a>
                                <a href="tel:0888 888 888" class="phone-number">
                                  <i class="fa fa-phone phone-icon"></i>0888 888 888</a>
                            </li>
                        </ul>
                    </nav>
                    <nav class="menu menu-secondary col-md-12 hidden-xs">
                        <ul class="col-md-9 col-md-offset-3">
                            <% categories.forEach(function(category) { %>
                            <li class="type-1">
                                <a href="/categories/<%= category.id %>"><%= category["name"+ lang.charAt(0).toUpperCase() + lang.slice(1)] %>
                                    <span class="fa fa-angle-down"></span>
                                </a>
                                <ul class="dropmenu">
                                    <% category.subcategories.forEach(function(subcat) { %>
                                    <li>
                                        <a
                                            href="/subcategories/<%= subcat.id %>"><%= subcat["name"+ lang.charAt(0).toUpperCase() + lang.slice(1)] %></a>
                                    </li>
                                    <% }); %>
                                </ul>
                            </li>
                            <% }); %>

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    </div>
</header>