<div class="list-item-entry">
    <div class="hotel-item style-3 bg-white">
        <div class="table-view">
            <div class="radius-top cell-view">
                <a href="/hotels/<%= hotel.id %>">
                    <img src="<%= hotel.photos[0] %>" alt="">
                </a>
            </div>
            <div class="title hotel-middle clearfix cell-view">
                <div class="date list-hidden"><strong><%= hotel.destination %></strong></div>
                <!-- <div class="date grid-hidden"><strong>19.07 - 26.07 / 7</strong> night</div> -->
                <h4>
                    <a href="/hotels/<%= hotel.id %>">
                        <b><%= hotel.name %></b>
                    </a>
                </h4>
                <div class="rate-wrap">
                    <div class="rate">
                        <% for(i = 1; i <= hotel.stars; i++){ %>
                        <span class="fa fa-star color-yellow"></span>
                        <% } %>
                    </div>
                    <!-- <i>485 rewies</i> -->
                </div>
                <!-- <p class="f-14 grid-hidden">Nunc cursus libero purus ac congue arcu cur sus ut sed vitae
                    pulvinar. Nunc cursus libero purus ac congue arcu.</p> -->
            </div>
            <div class="title hotel-right clearfix cell-view">
                <!-- <div class="hotel-person color-dark-2">from <span class="color-blue">$503</span> person
                </div> -->
                <a class="c-button b-40 bg-blue hv-blue-o grid-hidden" href="#">view more</a>
            </div>
        </div>
    </div>
</div>