<% if (offer.translations && offer.translations.length > 0) { %>
<div class="hotel-item style-6">
    <div class="radius-top">
        <a href="/details/<%= offer.id %>">
            <%if (offer.isPromo) { %>
            <span
                class="price price-s-4 promo-price-bg"><%= offer.promoPrice %><%= translation.DEFAULT_CURRENCY %></span>
            <span class="promo-badge"><%= translation.OFFER.PROMO %></span>
            <% } else{ %>
            <span class="price price-s-4"><%= offer.price %><%= translation.DEFAULT_CURRENCY %></span>
            <% } %>
            <img src="<%= offer.photos.length > 0 ? offer.photos[0] : '/demo/HomePage_Offers_1.jpg' %>" alt="">
        </a>

    </div>
    <div class="title">
        <div class="tour-info-line clearfix">
            <div class="tour-info fl">
                <img src="/img/calendar_icon_grey.png" alt="">
                <span class="font-style-2 color-grey-3"><strong><%= offer.dates ? offer.dates[0] : "-"%></strong></span>
            </div>
            <div class="tour-info fl">
                <img src="/img/loc_icon_small_grey.png" alt="">
                <span
                    class="font-style-2 color-grey-3"><%= offer.destinations && offer.destinations.length > 0 ? offer.destinations[0].name : "-" %></span>
            </div>
            <div class="tour-info fl">
                <img src="/img/loc_icon_small_grey.png" alt="">
                <img src="./img/Avtobus.png" width="10" height="10">
            </div>
        </div>
    </div>
    <h4>
        <b>
            <%if (offer.isPromo) { %>
            <%= offer.translations[0].promoTitle %>
            <% } else{ %>
            <%= offer.translations[0].name %>
            <% } %>
        </b>
    </h4>
    <h5>
        <strong>
            <%if (offer.isPromo) { %>
            <%= offer.promoPrice %>
            <% } else{ %>
            <%= offer.price %>
            <% } %>
            <%= translation.DEFAULT_CURRENCY %>
        </strong>
    </h5>
    <p class="color-grey-3">
        <strong><%= offer.translations[0].subtitle ? offer.translations[0].subtitle.replace(/<[^>]*>?/gm, '') : '' %></strong>
    </p>
    <!-- this may break because other_info is html -->
    <p class="f-14 color-grey-3">
        <%= offer.translations[0].duration? offer.translations[0].duration.replace(/<[^>]*>?/gm, '') : ''%></p>
</div>
<% } %>