<div class="text-center">
    <div class="drop-tabs">
        <a href="#" class="arrow-down"><i class="fa fa-angle-down"></i></a>
        <ul class="nav-tabs tpl-tabs tabs-style-1">
            <li class="active click-tabs"><a href="#one" data-toggle="tab"
                    aria-expanded="false"><%= translation.SEARCH.SEARCH %></a></li>
            <li class="click-tabs"><a href="#two" data-toggle="tab"
                    aria-expanded="false"><%= translation.SEARCH.CALENDAR %></a></li>
        </ul>
    </div>
</div>
<div class="tab-content tpl-tabs-cont section-text t-con-style-1">
    <div class="tab-pane active in" id="one">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <div class="tabs-block">
                        <h5><%= translation.SEARCH.COUNTRY %></h5>
                        <div class="drop-wrap drop-wrap-s-3">
                            <div class="drop">
                                <b><%= selectedData.country ? selectedData.country : translation.SEARCH.PLEASE_SELECT %></b>
                                <a href="#" class="drop-list"><i class="fa fa-angle-down"></i></a>
                                <span id="countryField">
                                    <% countries.forEach(function(country){ %>
                                    <a
                                        href='/?country=<%= country["name"+ lang.charAt(0).toUpperCase() + lang.slice(1)] %>'><%= country["name"+ lang.charAt(0).toUpperCase() + lang.slice(1)] %></a>
                                    <% }) %>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <div class="tabs-block">
                        <h5><%= translation.SEARCH.DESTINATION %></h5>
                        <div class="drop-wrap drop-wrap-s-3">
                            <div class="drop">
                                <b><%= translation.SEARCH.PLEASE_SELECT %></b>
                                <a href="#" class="drop-list"><i class="fa fa-angle-down"></i></a>
                                <span id="destinationField">
                                    <% destinations.forEach(function(destination){ %>
                                    <a href="#"><%=  destination.name %></a>
                                    <% }) %>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <div class="tabs-block">
                        <h5><%= translation.SEARCH.TRANSPORTATION_TYPE %></h5>
                        <div class="drop-wrap drop-wrap-s-3">
                            <div class="drop">
                                <b><%= translation.SEARCH.PLEASE_SELECT %></b>
                                <a href="#" class="drop-list"><i class="fa fa-angle-down"></i></a>
                                <span id="transportField">
                                    <% transportTypes.forEach(function(type){ %>
                                    <a href="#"><%=  type %></a>
                                    <% }) %>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <div class="tabs-block">
                        <h5><%= translation.SEARCH.MONTH %></h5>
                        <div class="drop-wrap drop-wrap-s-3">
                            <div class="drop">
                                <b><%= translation.SEARCH.PLEASE_SELECT %></b>
                                <a href="#" class="drop-list"><i class="fa fa-angle-down"></i></a>
                                <span id="monthField">
                                    <% months.forEach(function(month){ %>
                                    <a href="#"><%=  month.literal %></a>
                                    <a class="search-month" href="#" style="display:none"><%=  month.month %></a>
                                    <a class="search-year" href="#" style="display:none"><%=  month.year %></a>
                                    <% }) %>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                    <a id="searchButton" class="c-button b-60 bg-white">
                        <i class="fa fa-search"></i><span><%= translation.SEARCH.SEARCH %></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="two">
        <div class="container">
            <div class="row">
                <% months.forEach(function(month){ %>
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <a href="/results?search=true&month=<%= month.month %>&year=<%= month.year %>" class="c-button b-60 bg-white mt-25 col-md-12 col-xs-12"><%=  month.literal %></a>
                </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>