<div class="hotel-item style-6">
  <div class="radius-top">
    <a href="/subcategories/<%= subcategory.id %>">
      <img src="<%= subcategory.imageUrl ? subcategory.imageUrl : '/demo/HomePage_Offers_1.jpg' %>" alt="">
    </a>

  </div>
  <p class="color-grey-3 mt-10 ml-10">
    <strong><%= subcategory.nameBg %></strong>
  </p>
</div>