<div class="useful-information">
  <div class="sidebar-text-label bg-dr-blue color-white"><%= translation.USEFUL_INFORMATION.USEFUL_INFORMATION %></div>
  <div class="help-contact bg-grey-2">
    <h4 class="color-dark-2"><%= translation.USEFUL_INFORMATION.NEED_HELP %>?</h4>
    <p class="color-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
      eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <a class="help-phone color-dark-2 link-dr-blue" href="tel:0200059600"><img src="/img/detail/phone24-dark.png"
        alt="">020 00 59 600</a>
    <a class="help-mail color-dark-2 link-dr-blue" href="mailto:let’s_travel@world.com"><img
        src="/img/detail/letter-dark.png" alt="">let’s_travel@world.com</a>
  </div>
</div>