<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="header">
                <h4 *ngIf="!data?.id" class="title">Добавяне на хотел</h4>
                <h4 *ngIf="data?.id" class="title">Редактиране на хотел</h4>
            </div>
            <div class="content">
                <div class="row">
                    <form (ngSubmit)="onSubmit()" #hotelForm="ngForm" class="col-md-12">
                        <!-- <pre>{{data | json}}</pre> -->

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Категория (звезди)*</label>
                                    <select #stars="ngModel" name="stars" [(ngModel)]="data.stars" class="form-control"
                                        required>
                                        <option *ngFor="let star of [1, 2, 3, 4, 5]" [ngValue]="star">
                                            {{star}} звезда</option>
                                    </select>
                                    <div *ngIf="stars.invalid && (stars.dirty || stars.touched)"
                                        class="alert alert-danger">

                                        <div *ngIf="stars.errors.required">
                                            Категория е задължително поле
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Име *</label>
                                    <input #name="ngModel" type="text" name="name" [(ngModel)]="data.name"
                                        class="form-control" required />
                                    <div *ngIf="name.invalid && (name.dirty || name.touched)"
                                        class="alert alert-danger">

                                        <div *ngIf="name.errors.required">
                                            Име е задължително поле
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Дестинация (град/курорт)* </label>
                                    <select #destination="ngModel" name="destination" [(ngModel)]="data.destination"
                                        class="form-control" required>
                                        <option *ngFor="let destination of destinationsList" [ngValue]="destination.id">
                                            {{destination.name}}</option>
                                    </select>
                                    <div *ngIf="destination.invalid && (destination.dirty || destination.touched)"
                                        class="alert alert-danger">

                                        <div *ngIf="destination.errors.required">
                                            Дестинация е задължително поле
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h3 class="col-md-12">Снимки</h3>
                                <div class="col-md-12">
                                    <div class="upload-images">
                                        <label for="upload-images" class="upload-photo-button text-success ">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </label>
                                        <input #fileUploadInput type="file" id="upload-images" name="upload-images"
                                            class="file-upload hidden" (change)="onImagesChange($event)" />
                                    </div>
                                    <div *ngFor="let image of data.photos; let i = index" class="col-md-3">
                                        <div class="media-image" [style.background-image]="sanitize(image.path)"></div>
                                        <button type="button" class="btn btn-danger" (click)="deleteImage(image, i)">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" *ngFor="let lang of data.translations">
                            <h3>Информация на {{ languagesMapping[lang.languageCode] }}</h3>
                            <div class="col-md-12">

                                <div class="form-group">
                                    <label>Описание</label>
                                    <div [froalaEditor] [(froalaModel)]="lang.description"></div>
                                </div>

                                <div class="form-group">
                                    <label>Цени и условия</label>
                                    <div [froalaEditor] [(froalaModel)]="lang.pricing"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 text-danger" *ngIf="errorMessage">
                            {{errorMessage}}
                        </div>

                        <div class="col-md-12">

                            <!-- <button type="submit" class="btn btn-success btn-fill">Запазване</button> -->
                            <button type="submit" class="btn btn-success btn-fill"
                                [disabled]="!hotelForm.form.valid">Запазване</button>

                            <button type="button" class="btn btn-danger btn-fill" (click)="cancel()">Отказ</button>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>