<div class="col col-xl-12 col-lg-12">

    <div class="card mb-12">
        <div class="header">
            <h2>Дестинации</h2>
            <button type="button" class="btn btn-primary btn-fill pull-right" routerLink="new">
                Добави Дестинация
            </button>
        </div>
        <div class="card-body table-responsive">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Име</th>
                        <th>Действия</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let destination of destinationsList">
                        <td>#{{destination.id}}</td>
                        <td>{{destination.name}}</td>
                        <td>
                            <a [routerLink]="['/destinations', destination.id]">
                                <button type="button" class="btn btn-warning">Редакция</button>
                            </a>
                            <button type="button" class="btn btn-danger"
                                (click)="deleteDestination(destination)">Изтриване</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>