<!DOCTYPE html>
<html>
  <% include ../public/partials/head %>
  <link rel="icon" type="image/jpg" href="../images/c.png">
<body class="sub-page-body">
    <div class="headermobile">
      <div class="mobile-menu mm-button">
        <div class="mm-button-bar">
          <span class="mm-close mm-close1"></span>
          <span class="mm-close mm-close2"></span>
          <span class="mm-close mm-close3"></span>
        </div>
      </div>
      <div class="mobile-menu mm-logo">
        <a href="/"><img src="/images/main_logo_cliff_100h.png"></a>
      </div>
      <div class="mobile-menu mm-empty"></div>
    </div>
    <div class="booknowmobile">
        <p><a href="<%= cfg.bookNowUrl %>"><%= texts.bookNow %></a></p>
    </div>
    <header class="second-header sub-page">
        <div class="hamburger-himself-inside-pages hamburger-himself">
            <div class="for-hamburger-himsel-inside-pagesf">
                <i class="fa fa-bars" aria-hidden="true"></i>
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
        </div>
        <div class="centered-logo-inside-pages">
            <a href="/"><img src="/images/main_logo_cliff_100h.png" alt="cliff-logo" class="centered-logo-img-inside-pages"></a>
        </div>
        <div class="book-now-box-inside-pages book-now-box">
            <a href="<%= cfg.bookNowUrl %>"><%= texts.bookNow %></a>
        </div>
    </header>
    <div class="main-image" style="background-image: url('<%=page.images[0]%>');">
        <div class="type-mobile">
            <p><%= page.roomType %></p>
        </div>
    </div>
    <div class="sidebar">
        <div class="type-of-facility">
            <p class="type-of-facility"><%= page.roomType %></p>
        </div>
        <div class="choose-image">
            <% page.images.forEach(function(image) { %>
                <div class="small-image-box" style="background-image: url('<%=image%>');"></div>
            <% }); %>
        </div>
        <div class="facility-definition">
            <p><%- (page.text) ? page.text.replace(/\n/g, '<br/>') : '' %></p>
        </div>
        <a href="/#events-link">
            <div class="upcoming-events">
                <p><%=texts.upcomingTitle%> <%=texts.eventsTitle%></p>
                <div class="arrow">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </div>
            </div>
        </a>
    </div>
    <div class="facility-type-mobile">
        <p><%= page.roomType %></p>   
    </div>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <% page.images.forEach(function(image) { %>
                <div class="swiper-slide"><img src="<%=image%>" alt="cliff-room"></div>
            <% }); %>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
    <div class="facility-description-mobile">
        <p><%= page.text %></p>
    </div>
    <a href="/#events-link">
        <div class="upcoming-events-mobile">
            <p>
              <%=texts.upcomingTitle%> <%=texts.eventsTitle%>
              <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </p>
        </div>
    </a>

    <div class="hidden-menu">
    <div class="hm-header">
      <div class="close-menu hmh-inside">
        <div class="close-menu-x">
          <span class="x-letter x-letter1"></span>
          <span class="x-letter x-letter2"></span>
        </div>
        <div class="close-menu-text"><%=texts.closeMenu%></div>
      </div>
      <div class="hm-brand-logo hmh-inside">
        <img src="../images/main_logo_cliff_100h.png" class="hm-bl-img">
      </div>
      <div class="hm-book-now hmh-inside"><p class="hm-book-now book-now-box"><%=texts.bookNow%></p></div>
    </div>
    <div class="hm-main-menu">
      <a href="/hotel" class="hmmm hmmm1"><%=texts.homeHotel%></a>
      <a href="/rooms" class="hmmm hmmm2"><%=texts.homeRooms%></a>
      <a href="/beach" class="hmmm hmmm2"><%=texts.homeBeach%></a>
      <a href="/bars-restaurants" class="hmmm hmmm3"><%=texts.homeBars%></a>
      <a href="/spa-health" class="hmmm hmmm4"><%=texts.homeSpa%></a>
    </div>
    <div class="hm-social-menu">
      <a href="/">
        <div class="social-media-each"><img src="../images/facebookgrey.png" alt="social-media-icon"></div>
      </a>
      <!-- <a href="/">
        <div class="social-media-each"><img src="../images/twittergrey.png" alt="social-media-icon"></div>
      </a> -->
      <a href="/">
        <div class="social-media-each"><img src="../images/vkgrey.png" alt="social-media-icon"></div>
      </a>
      <a href="/">
        <div class="social-media-each"><img src="../images/instagramgrey.png" alt="social-media-icon"></div>
      </a>
      <a href="/">
        <div class="social-media-each"><img src="../images/gplusgrey.png" alt="social-media-icon"></div>
      </a>
      <a href="/">
        <div class="social-media-each"><img src="../images/linkedingrey.png" alt="social-media-icon"></div>
      </a>
      <a href="/">
        <div class="social-media-each"><img src="../images/youtubegrey.png" alt="social-media-icon"></div>
      </a>
    </div>
    <div class="hm-sub-menu">
      <a href="/"><%=texts.footerHome%></a>
      <a href="/#abous-us-link"><%=texts.footerAboutUs%></a>
      <a href="/#events-link"><%=texts.footerEvents%></a>
      <a href="/store"><%=texts.footerShop%></a>
      <a href="/careers"><%=texts.footerCareers%></a>
      <a href="/#faq-link"><%=texts.footerFAQ%></a>
      <a href="/#map-link"><%=texts.footerMapTransfer%></a>
      <a href="/#contact-us-link"><%=texts.footerContacts%></a>
    </div>
  </div>
    
</body>
</html>