<!DOCTYPE html>
<html>
	<% include ../public/partials/head %>
<body data-color="theme-1">

<!-- LOADER -->
<div class="loading dr-blue-2">
	<div class="loading-center">
		<div class="loading-center-absolute">
			<div class="object object_four"></div>
			<div class="object object_three"></div>
			<div class="object object_two"></div>
			<div class="object object_one"></div>
		</div>
	</div>
</div>

<!-- HEADER -->
<% include ../public/partials/header %>

<!-- INNER-BANNER -->
<div class="inner-banner style-6">
	<img class="center-image" src="img/banners/aboutus_mainbanner.png" alt="">
	<div class="vertical-align">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-8 col-md-offset-2">
		  			<ul class="banner-breadcrumb color-white clearfix">
		  				<li><a class="link-blue-2" href="#">home</a> /</li>
		  				<li><a class="link-blue-2" href="#">pages</a> /</li>
		  				<li><span>about us</span></li>
		  			</ul>
		  			<h2 class="color-white">about us</h2>
  				</div>
			</div>
		</div>
	</div>
</div>

<!-- ICON-BLOCK -->
<div class="main-wraper padd-90 meet-team">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2">
				<div class="second-title">
					<h4 class="subtitle color-dr-blue-2 underline">our services</h4>
					<h4>The company has a 10-year history in the tourism sector and is a long-time partner with „Inter – Travel“ LTD and  its affiliated hotel base. We offer a wide range of tourist services:</h4>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="icon-block-entry col-xs-12 col-sm-6 col-md-3">
				<div class="icon-block style-4">
					<div class="icon-img-entry"><img class="icon-img" src="img/inner/icon_3.png" alt=""></div>
					<div class="icon-content">
						<div class="icon-text color-dark-2-light">Sed sit amet leo orci. Fusce tincidunt accumsan pretium.</div>
					</div>
				</div>
			</div>
			<div class="icon-block-entry col-xs-12 col-sm-6 col-md-3">
				<div class="icon-block style-4">
					<div class="icon-img-entry"><img class="icon-img" src="img/inner/icon_1.png" alt=""></div>
					<div class="icon-content">
						<div class="icon-text color-dark-2-light">Sed sit amet leo orci. Fusce tincidunt accumsan pretium.</div>
					</div>
				</div>
			</div>
			<div class="icon-block-entry col-xs-12 col-sm-6 col-md-3">
				<div class="icon-block style-4">
					<div class="icon-img-entry"><img class="icon-img" src="img/inner/icon_4.png" alt=""></div>
					<div class="icon-content">
						<div class="icon-text color-dark-2-light">Sed sit amet leo orci. Fusce tincidunt accumsan pretium.</div>
					</div>
				</div>
			</div>
			<div class="icon-block-entry col-xs-12 col-sm-6 col-md-3">
				<div class="icon-block style-4">
					<div class="icon-img-entry"><img class="icon-img" src="img/inner/icon_2.png" alt=""></div>
					<div class="icon-content">
						<div class="icon-text color-dark-2-light">Sed sit amet leo orci. Fusce tincidunt accumsan pretium.</div>
					</div>
				</div>
			</div>
			<div class="icon-block-entry col-xs-12 col-sm-6 col-md-3">
				<div class="icon-block style-4">
					<div class="icon-img-entry"><img class="icon-img" src="img/inner/icon_5.png" alt=""></div>
					<div class="icon-content">
						<div class="icon-text color-dark-2-light">Sed sit amet leo orci. Fusce tincidunt accumsan pretium.</div>
					</div>
				</div>
			</div>
			<div class="icon-block-entry col-xs-12 col-sm-6 col-md-3">
				<div class="icon-block style-4">
					<div class="icon-img-entry"><img class="icon-img" src="img/inner/icon_7.png" alt=""></div>
					<div class="icon-content">
						<div class="icon-text color-dark-2-light">Sed sit amet leo orci. Fusce tincidunt accumsan pretium.</div>
					</div>
				</div>
			</div>
			<div class="icon-block-entry col-xs-12 col-sm-6 col-md-3">
				<div class="icon-block style-4">
					<div class="icon-img-entry"><img class="icon-img" src="img/inner/icon_8.png" alt=""></div>
					<div class="icon-content">
						<div class="icon-text color-dark-2-light">Sed sit amet leo orci. Fusce tincidunt accumsan pretium.</div>
					</div>
				</div>
			</div>
			<div class="icon-block-entry col-xs-12 col-sm-6 col-md-3">
				<div class="icon-block style-4">
					<div class="icon-img-entry"><img class="icon-img" src="img/inner/icon_6.png" alt=""></div>
					<div class="icon-content">
						<div class="icon-text color-dark-2-light">Sed sit amet leo orci. Fusce tincidunt accumsan pretium.</div>
					</div>
				</div>
			</div>
		</div>
		<div class="text-center">
			<a href="#" class="c-button b-40 bg-dr-blue-2 hv-dr-blue-2-o"><span>view all services</span></a>
		</div>
    </div>
</div>

<!-- TESTIMONALS -->
<div class="inner-banner style-5 min-height-500">
	<img class="center-image" src="img/banners/aboutus_thankyouforchoosingus.png" alt="">
	<div class="vertical-align">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-8 col-md-offset-2">
	  			<p class="color-white-light">We remain committed to our reliable relations with our customers and our main goal is to fulfill Your desire for an unforgettable holiday. </p>
	  			<h2 class="color-white">Thank you for choosing us!</h2>
  			</div>
			</div>
		</div>
	</div>
</div>




<!-- FOOTER -->
<% include ../public/partials/footer %>
</body>
</html>