<!DOCTYPE html>
<html>
		<% include ../public/partials/head %>
<body data-color="theme-1">

		<% include ../public/partials/header %>

<!-- INNER-BANNER -->
<div class="inner-banner style-6">
	<img class="center-image" src="demo/BookNow_InnerBanner.png" alt="">
	<div class="vertical-align">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-8 col-md-offset-2">
		  			<ul class="banner-breadcrumb color-white clearfix">
		  				<li><a class="link-blue-2" href="#">home</a> /</li>
		  				<li><span>hotel booking</span></li>
		  			</ul>
		  			<h2 class="color-white">Hotel Booking</h2>
  				</div>
			</div>
		</div>
	</div>
</div>

<!-- DETAIL WRAPPER -->
<div class="detail-wrapper">
	<div class="container">
       	<div class="row padd-90">
       		<div class="col-xs-12 col-md-8">
				<form class="simple-from">
					<div class="simple-group">
						<h3 class="small-title">Your Personal Information</h3>
						<div class="row">
							<div class="col-xs-12 col-sm-6">
								<div class="form-block type-2 clearfix">
									<div class="form-label color-dark-2">First Name</div>
									<div class="input-style-1 b-50 brd-0 type-2 color-3">
										<input type="text" placeholder="Enter your first name">
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6">
								<div class="form-block type-2 clearfix">
									<div class="form-label color-dark-2">Last Name</div>
									<div class="input-style-1 b-50 brd-0 type-2 color-3">
										<input type="text" placeholder="Enter your last name">
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6">
								<div class="form-block type-2 clearfix">
									<div class="form-label color-dark-2">E-mail Adress</div>
									<div class="input-style-1 b-50 brd-0 type-2 color-3">
										<input type="text" placeholder="Enter your e-mail adress">
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6">
								<div class="form-block type-2 clearfix">
									<div class="form-label color-dark-2">Phone number</div>
									<div class="input-style-1 b-50 brd-0 type-2 color-3">
										<input type="text" placeholder="Enter your phone number">
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6">
									<div class="form-block type-2 clearfix">
										<div class="form-label color-dark-2">Checkin date</div>
										<div class="input-style-1 b-50 brd-0 type-2 color-3">
												<input type="text" placeholder="Mm/Dd/Yy" class="datepicker">
										</div>
									</div>
								</div>

							<div class="col-xs-12 col-sm-6">
								<div class="form-block type-2 clearfix">
									<div class="form-label color-dark-2">Checkout date</div>
									<div class="input-style-1 b-50 brd-0 type-2 color-3">
											<input type="text" placeholder="Mm/Dd/Yy" class="datepicker">
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6">
									<div class="form-block type-2 clearfix">
										<div class="form-label color-dark-2">Adults</div>
										<div class="input-style-1 b-50 brd-0 type-2 color-3">
											<input type="text" placeholder="Enter your phone number">
										</div>
									</div>
								</div>

							<div class="col-xs-12 col-sm-6">
									<div class="form-block type-2 clearfix">
										<div class="form-label color-dark-2">Childred</div>
										<div class="input-style-1 b-50 brd-0 type-2 color-3">
											<input type="text" placeholder="Enter your phone number">
										</div>
									</div>
								</div>

							<div class="col-xs-12">
									<textarea class="area-style-1 color-1" required="" placeholder="Additional preferences"></textarea>
								</div>
							<!-- <div class="col-xs-12">
								<div class="confirm-terms">
									<div class="input-entry color-3">
										<input class="checkbox-form" id="text-1" type="checkbox" name="checkbox" value="climat control">
										<label class="clearfix" for="text-1">
											<span class="sp-check"><i class="fa fa-check"></i></span>
											<span class="checkbox-text"> I want to receive <a class="color-dr-blue-2 link-dark-2" href="#">Let’s Travel</a> promotional offers in the future</span>
										</label>
									</div>
								</div>
							</div> -->
						</div>
					</div>

					<input type="submit" class="c-button bg-dr-blue-2 hv-dr-blue-2-o" value="confirm booking">
				</form>
       		</div>
       		<div class="col-xs-12 col-md-4">
       			<div class="right-sidebar">

					<!-- <div class="popular-tours bg-grey-2">
						<h4 class="color-dark-2">popular tours</h4>
						<div class="hotel-small style-2 clearfix">
							<a class="hotel-img black-hover" href="#">
								<img class="img-responsive radius-0" src="img/home_9/cruise_1.jpg" alt="">
								<div class="tour-layer delay-1"></div>
							</a>
							<div class="hotel-desc">
		    					<h5><span class="color-dark-2"><strong>$273</strong>/ person</span></h5>
		    					<h4>HAWAIAN CRUISES</h4>
								<div class="hotel-loc tt"><strong>19.07 - 26.07 / 7</strong> nights</div>
							</div>
						</div>
						<div class="hotel-small style-2 clearfix">
							<a class="hotel-img black-hover" href="#">
								<img class="img-responsive radius-0" src="img/home_9/cruise_2.jpg" alt="">
								<div class="tour-layer delay-1"></div>
							</a>
							<div class="hotel-desc">
		    					<h5><span class="color-dark-2"><strong>$273</strong>/ person</span></h5>
		    					<h4>TAHITI CRUISES</h4>
								<div class="hotel-loc tt"><strong>19.07 - 26.07 / 7</strong> nights</div>
							</div>
						</div>
						<div class="hotel-small style-2 clearfix">
							<a class="hotel-img black-hover" href="#">
								<img class="img-responsive radius-0" src="img/home_9/cruise_3.jpg" alt="">
								<div class="tour-layer delay-1"></div>
							</a>
							<div class="hotel-desc">
		    					<h5><span class="color-dark-2"><strong>$273</strong>/ person</span></h5>
		    					<h4>ASIA CRUISES</h4>
								<div class="hotel-loc tt"><strong>19.07 - 26.07 / 7</strong> nights</div>
							</div>
						</div>
					</div>

					<div class="sidebar-text-label bg-dr-blue-2 color-white">useful information</div> -->

					<div class="help-contact bg-grey-2">
						<h4 class="color-dark-2">Need Help?</h4>
						<p class="color-grey-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						<a class="help-phone color-dark-2 link-dr-blue-2" href="tel:0200059600"><img src="img/detail/phone24-dark-2.png" alt="">020 00 59 600</a>
						<a class="help-mail color-dark-2 link-dr-blue-2" href="mailto:let’s_travel@world.com"><img src="img/detail/letter-dark-2.png" alt="">let’s_travel@world.com</a>
					</div>
       			</div>
       		</div>
       	</div>
	</div>
</div>

<% include ../public/partials/footer %>
</body>
</html>