<!DOCTYPE html>
<html>
	<% include ../public/partials/head %>
<body data-color="theme-1">

<!-- LOADER -->
<div class="loading dr-blue-2">
	<div class="loading-center">
		<div class="loading-center-absolute">
			<div class="object object_four"></div>
			<div class="object object_three"></div>
			<div class="object object_two"></div>
			<div class="object object_one"></div>
		</div>
	</div>
</div>

<!-- HEADER -->
<% include ../public/partials/header %>

<!-- MAP BLOCK -->
<div class="map-block">
	<div id="map-canvas" class="style-4" data-lat="42.4951603" data-lng="27.4730888" data-zoom="17" data-style="2"></div>
    <div class="addresses-block">
        <a data-lat="42.4951603" data-lng="27.4730888" data-string="Infotours office"></a>
    </div>
</div>

<div class="main-wraper">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2">
				<div class="second-title">
					<h4 class="subtitle color-dr-blue-2 underline">contact info</h4>
					<h2>get in touch</h2>
				</div>
			</div>
		</div>
		<div class="contact-row">
			<div class="row">
				<div class="col-xs-12 col-sm-4">
					<div class="contact-entry">
						<img class="contact-icon" src="img/loc_icon_2_dark.png" alt="">
						<div class="contact-label color-grey-3">Address:</div>
						<div class="contact-text color-dark-2">Aenean vulputate porttitor</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4">
					<div class="contact-entry">
						<img class="contact-icon" src="img/mail_icon_l_dark.png" alt="">
						<div class="contact-label color-grey-3">Email us:</div>
						<a class="contact-text color-dark-2 link-dr-blue-2" href="mailto:let’s_travel@world.com">let’s_travel@world.com</a>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4">
					<div class="contact-entry">
						<img class="contact-icon" src="img/phone_icon_3_dark.png" alt="">
						<div class="contact-label color-grey-3">Phone:</div>
						<a class="contact-text color-dark-2 link-dr-blue-2" href="tel:">+93 123 456 789</a>
					</div>
				</div>
			</div>
		</div>
		<!-- <div class="share style-2 clearfix">
			<ul>
		      	<li class="color-in"><a href=""><i class="fa fa-linkedin"></i>linkedin<span class="color-in-2">19</span></a></li>
		      	<li class="color-fb"><a href=""><i class="fa fa-facebook"></i>facebook<span class="color-fb-2">12</span></a></li>
		      	<li class="color-tw"><a href=""><i class="fa fa-twitter"></i>twitter<span class="color-tw-2">27</span></a></li>
		      	<li class="color-gg"><a href=""><i class="fa fa-google-plus"></i>google +<span class="color-gg-2">51</span></a></li>
		      	<li class="color-pin"><a href=""><i class="fa fa-pinterest"></i>pinterest<span class="color-pin-2">70</span></a></li>
	      	</ul>
		</div> -->
	</div>
</div>


<!-- CONTACT-FORM -->
<div class="main-wraper padd-90">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2">
				<div class="second-title">
					<h4 class="subtitle color-dr-blue-2 underline">contact form</h4>
					<h2>have a question?</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
				<div class="second-description text-center color-grey-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<form class="contact-form" action="#">
					<div class="row">
						<div class="col-xs-12 col-sm-6">
							<div class="input-style-1 type-2 color-2">
							  	<input type="text" required="" placeholder="First name">
							</div>
						</div>
						<div class="col-xs-12 col-sm-6">
							<div class="input-style-1 type-2 color-2">
							  	<input type="text" required="" placeholder="Last name">
							</div>
						</div>
						<div class="col-xs-12 col-sm-6">
							<div class="input-style-1 type-2 color-2">
							  	<input type="text" required="" placeholder="Email address">
							</div>
						</div>
						<div class="col-xs-12 col-sm-6">
							<div class="input-style-1 type-2 color-2">
									<input type="text" required="" placeholder="Phone number">
							</div>
						</div>
						<div class="col-xs-12">
							<textarea class="area-style-1 color-1" required="" placeholder="Enter your comment"></textarea>
							<div class="text-center">
								<button type="submit" class="c-button bg-dr-blue-2 hv-dr-blue-2-o"><span>submit</span></button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<!-- FOOTER -->
<% include ../public/partials/footer %>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-dM0dyRabFWiEWhpICeiD-qKjDTsgmls&callback=initialize"></script>
<script src="js/map.js"></script>
</body>
</html>