<!DOCTYPE html>
<html>
<% include ../public/partials/head %>

<body data-color="theme-1">

    <div class="loading dr-blue-2">
        <div class="loading-center">
            <div class="loading-center-absolute">
                <div class="object object_four"></div>
                <div class="object object_three"></div>
                <div class="object object_two"></div>
                <div class="object object_one"></div>
            </div>
        </div>
    </div>

    <% include ../public/partials/header %>
    <!-- FREE TEXT -->

    <!-- DETAIL WRAPPER -->
    <div class="detail-wrapper">
        <div class="container">
            <div class="detail-content-block">
                <h2 class="text-center"><%= country.name %></h2>
                <div class="country-center-image" style="background-image: url(/uploads/countries/<%= country.imageUrl %>)">
                </div>

                <div class="country-decription simple-tab color-1 tab-wrapper">
                    <div class="tabs-content clearfix">
                        <div class="tab-info active">
                            <%- country.description %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <% include ../public/partials/footer %>
</body>

</html>