<!DOCTYPE html>
<html>
	<% include ../public/partials/head %>
<body data-color="theme-1">

	<% include ../public/partials/header %>

<!-- DETAIL WRAPPER -->
<div class="detail-wrapper">
	<div class="container">
		<div class="detail-header">
			<div class="row">
				<div class="col-md-12">
					<div class="detaile-title">
					    <ul class="list-breadcrumb clearfix">
							<li><a class="color-grey link-dr-blue" href="#">home</a> /</li>
							<li><a class="color-grey link-dr-blue" href="#">tours</a> /</li>
							<li><span class="color-dr-blue">tour details</span></li>
						</ul>
						<h2>Tour details</h2>
						    <div class="top-header-block fl">
								<img src="img/mail_icon_dark.png" alt="">
								  <a class="link-dr-blue" href="mailto:">e-mail</a>
							</div>
							<div class="top-header-block fl">
								<img src="img/phone_icon_dark.png" alt="">
								  <a class="link-dr-blue" href="tel:">0369 09 01</a>
							</div>
					  <div class="detail-price color-dark-2">price from  <span class="color-dr-blue"> $721</span> /person</div>
					</div>
			    </div>
	       	</div>
	       	<div class="row">
	         	 <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                 <div class="car-tabs">
					 <div class="drop-tabs">
					   <b>hotels</b>
						<a href="#" class="arrow-down"><i class="fa fa-angle-down"></i></a>
						 <ul class="nav-tabs tpl-tabs tabs-style-1">
							<li class="active click-tabs"><a href="#one" data-toggle="tab" aria-expanded="false"><span class="fa fa-camera"></span>Photos</a></li>
							<li class="click-tabs"><a href="#two" data-toggle="tab" aria-expanded="false"><span class="fa fa-map-marker"></span>On the map</a></li>
							<li class="click-tabs"><a href="#three" data-toggle="tab" aria-expanded="false"><span class="fa fa-video-camera"></span>Video</a></li>
							<li class="click-tabs"><a href="#four" data-toggle="tab" aria-expanded="false"><span class="fa fa-comment"></span>Reviews</a></li>
						 </ul>
					 </div>

					<div class="tab-content tpl-tabs-cont section-text t-con-style-1">

                    <div class="tab-pane active in" id="one">
                        <div class="detail-top slider-wth-thumbs style-1 arrows">
						<div class="swiper-container thumbnails-preview" data-autoplay="0" data-loop="1" data-speed="500" data-center="0" data-slides-per-view="1">
			                <div class="swiper-wrapper">
		                    	<div class="swiper-slide active" data-val="0">
		                    		 <img class="img-responsive img-full" src="img/cars/gal_1_b.jpg" alt="">
		                    	</div>
		                    	<div class="swiper-slide" data-val="1">
		                    		 <img class="img-responsive img-full" src="img/cars/gal_2_b.jpg" alt="">
		                    	</div>
		                    	<div class="swiper-slide" data-val="2">
		                    		 <img class="img-responsive img-full" src="img/cars/gal_3_b.jpg" alt="">
		                    	</div>
		                    	<div class="swiper-slide" data-val="3">
		                    		 <img class="img-responsive img-full" src="img/cars/gal_4_b.jpg" alt="">
		                    	</div>
		                    	<div class="swiper-slide" data-val="4">
		                    		 <img class="img-responsive img-full" src="img/cars/gal_5_b.jpg" alt="">
		                    	</div>
		                    	<div class="swiper-slide" data-val="5">
		                    		 <img class="img-responsive img-full" src="img/cars/gal_6_b.jpg" alt="">
		                    	</div>
		                    </div>
			                <div class="pagination pagination-hidden poin-style-1"></div>
						    <div class="arrow-wrapp arr-s-3">
								<div class="swiper-arrow-left sw-arrow"><span class="fa fa-angle-left"></span></div>
								<div class="swiper-arrow-right sw-arrow"><span class="fa fa-angle-right"></span></div>
							</div>
			            </div>
			            <div class="swiper-container thumbnails" data-autoplay="0" data-loop="0" data-speed="500" data-slides-per-view="responsive" data-xs-slides="3" data-sm-slides="5" data-md-slides="5" data-lg-slides="5"
			            data-add-slides="5">
			                <div class="swiper-wrapper">
								<div class="swiper-slide current active" data-val="0">
									<img class="img-responsive img-full" src="img/cars/gal_1_s.jpg" alt="">
								</div>
								<div class="swiper-slide" data-val="1">
									<img class="img-responsive img-full" src="img/cars/gal_2_s.jpg" alt="">
								</div>
								<div class="swiper-slide" data-val="2">
									<img class="img-responsive img-full" src="img/cars/gal_3_s.jpg" alt="">
								</div>
								<div class="swiper-slide" data-val="3">
									<img class="img-responsive img-full" src="img/cars/gal_4_s.jpg" alt="">
								</div>
								<div class="swiper-slide" data-val="4">
									<img class="img-responsive img-full" src="img/cars/gal_5_s.jpg" alt="">
								</div>
								<div class="swiper-slide" data-val="5">
									<img class="img-responsive img-full" src="img/cars/gal_6_s.jpg" alt="">
								</div>
							</div>
							<div class="pagination hidden"></div>
						</div>
					</div>
					</div>

					<div class="tab-pane" id="two">
                      <div id="map-canvas" class="style-1" data-lat="33.664467" data-lng="-117.601586" data-zoom="6" data-style="6">             </div>
                        <div class="addresses-block">
							<a data-lat="36.1920723" data-lng="-112.0853326" data-string="Santa Monica Hotel"></a>
						</div>
					</div>
					<div class="tab-pane" id="three">
                       <iframe src="https://player.vimeo.com/video/140416017?title=0&amp;byline=0&amp;portrait=0"></iframe>
					</div>
					<div class="tab-pane" id="four">
                     <div class="reviews">
                      <div class="row">
                      	<div class="col-md-6">
                      		<div class="progress-wrapper">
                      		  <h4>Traveler rating</h4>
								<div class="progress-block">
									<div class="progress-label">Excellent</div>
									<div class="progress">
										<div class="progress-bar bg-dr-blue-2" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" data-to="100" data-speed="3000" style="width: 0%;">
										</div>
									</div>
								</div>
								<div class="progress-block">
									<div class="progress-label">Very Good</div>
									<div class="progress">
										<div class="progress-bar bg-dr-blue-2" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" data-to="75" data-speed="3000" style="width: 0%;">
										</div>
									</div>
								</div>
								<div class="progress-block">
									<div class="progress-label">Average</div>
									<div class="progress">
										<div class="progress-bar bg-dr-blue-2" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" data-to="50" data-speed="3000" style="width: 0%;">
										</div>
									</div>
								</div>
								<div class="progress-block">
									<div class="progress-label">Poor</div>
									<div class="progress">
										<div class="progress-bar bg-dr-blue-2" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" data-to="60" data-speed="3000" style="width: 0%;">
										</div>
									</div>
								</div>
							</div>
                      	</div>
                      	<div class="col-md-6">
                      	  <div class="summary">
                      	  	 <h4>Summary</h4>
                     		<div class="summ-block">
                    		  <h5>Equipment</h5>
                     		  <div class="rate">
								<span class="fa fa-star color-yellow"></span>
								<span class="fa fa-star color-yellow"></span>
								<span class="fa fa-star color-yellow"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							  </div>
                     		</div>
                     		<div class="summ-block">
                    		  <h5>Climate </h5>
                     		  <div class="rate">
								<span class="fa fa-star color-yellow"></span>
								<span class="fa fa-star color-yellow"></span>
								<span class="fa fa-star color-yellow"></span>
								<span class="fa fa-star color-yellow"></span>
								<span class="fa fa-star"></span>
							  </div>
                     		</div>
                     		<div class="summ-block">
                    		  <h5>Facility</h5>
                     		  <div class="rate">
								<span class="fa fa-star color-yellow"></span>
								<span class="fa fa-star color-yellow"></span>
								<span class="fa fa-star color-yellow"></span>
								<span class="fa fa-star color-yellow"></span>
								<span class="fa fa-star"></span>
							  </div>
                     		</div>
                      		<div class="summ-block">
                    		  <h5>Safely</h5>
                     		  <div class="rate">
								<span class="fa fa-star color-yellow"></span>
								<span class="fa fa-star color-yellow"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							  </div>
                     		</div>
                      	  </div>
                      	</div>
                      </div>
                      <a href="#" class="c-button b-40 bg-red-3 hv-red-3-o">Write a review</a>
                      </div>
					</div>
				    </div>
				 </div>
				</div>

	       		<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
	       			<div class="total-summ">
							<div class="sidebar-rating">
								<div class="input-entry color-3">
									<input class="checkbox-form" id="text-1" name="checkbox" value="climat control" type="checkbox">
									<label class="clearfix" for="text-1">
										<span class="sp-check"><i class="fa fa-check"></i></span>
										<span class="checkbox-text">Swimming Pool</span>
									</label>
									<span class="money-sum">75$</span>
								</div>
								<div class="input-entry color-3">
									<input class="checkbox-form" id="text-2" name="checkbox" value="climat control" type="checkbox">
									<label class="clearfix" for="text-2">
										<span class="sp-check"><i class="fa fa-check"></i></span>
										<span class="checkbox-text">Gym / Fitness</span>
									</label>
									<span class="money-sum">85$</span>
								</div>
								<div class="input-entry color-3">
									<input class="checkbox-form" id="text-3" name="checkbox" value="climat control" type="checkbox">
									<label class="clearfix" for="text-3">
										<span class="sp-check"><i class="fa fa-check"></i></span>
										<span class="checkbox-text">Car Park</span>
									</label>
									<span class="money-sum">105$</span>
								</div>
								<div class="input-entry color-3">
									<input class="checkbox-form" id="text-4" name="checkbox" value="climat control" type="checkbox">
									<label class="clearfix" for="text-4">
										<span class="sp-check"><i class="fa fa-check"></i></span>
										<span class="checkbox-text">Spa / Sauna</span>
									</label>
									<span class="money-sum">120$</span>
								</div>
								<div class="input-entry color-3">
									<input class="checkbox-form" id="text-5" name="checkbox" value="climat control" type="checkbox">
									<label class="clearfix" for="text-5">
										<span class="sp-check"><i class="fa fa-check"></i></span>
										<span class="checkbox-text">Airport Transfer</span>
									</label>
									<span class="money-sum">136$</span>
								</div>
								<div class="input-entry color-3">
									<input class="checkbox-form" id="text-6" name="checkbox" value="climat control" type="checkbox">
									<label class="clearfix" for="text-6">
										<span class="sp-check"><i class="fa fa-check"></i></span>
										<span class="checkbox-text">Smoking Area</span>
									</label>
									<span class="money-sum">200$</span>
								</div>
								<div class="tootal">
								  <span class="checkbox-text">Price Per Day </span>
									<span class="money-sum">721$</span>
								</div>
								<div class="tootal">
								  <span class="checkbox-text">Equipment</span>
									<span class="money-sum">35$</span>
								</div>
								<a href="#" class="c-button b-40 bg-red-3 hv-red-3-o">book now</a>
							</div>
						</div>
	       		</div>
	       		<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
	       			<div class="detail-company">
	       			<div class="detail-logo bg-grey-2">
       					<div class="detail-logo-name">emirates aerlines</div>
       					<img src="img/detail/detail_logo_2.png" alt="">
       				</div>
       				<div class="detail-block bg-red-3">
       					<h4 class="color-white">details</h4>
       					<div class="details-desc">
							<p class="color-pink">Category:  <span class="color-white">flights</span></p>
							<p class="color-pink">price: <span class="color-white">$500 / person</span></p>
							<p class="color-pink">AIRLINE: <span class="color-white">DELTA</span></p>
							<p class="color-pink">date: <span class="color-white">july 19th to july 29th</span></p>
							<p class="color-pink">rate: <span class="fa fa-star color-yellow"></span><span class="fa fa-star color-yellow"></span><span class="fa fa-star color-yellow"></span><span class="fa fa-star color-yellow"></span><span class="fa fa-star color-yellow"></span></p>
							<p class="color-pink">FLIGHT TYPE: <span class="color-white">ECONOMY</span></p>
							<p class="color-pink">FARE TYPE: <span class="color-white">REFUNDABLE</span></p>
							<p class="color-pink">CANCELLATION: <span class="color-white">$78 / PERSON</span></p>
							<p class="color-pink">FLIGHT CHANGE: <span class="color-white">$53 / PERSON</span></p>
							<p class="color-pink">SEATS & BAGGAGE: <span class="color-white">EXTRA CHARGE</span></p>
							<p class="color-pink">INFLIGHT FEATURES: <span class="color-white">AVAILABLE</span></p>
							<p class="color-pink">BASE FARE: <span class="color-white">$320.00</span></p>
							<p class="color-pink">TAXES & FEES: <span class="color-white">$300.00</span></p>
							<p class="color-pink">TOTAL PRICE: <span class="color-white">$620.00</span></p>
						</div>
						<div class="details-btn">
							<a href="#" class="c-button b-40 bg-tr-1 hv-white"><span>view on map</span></a>
						</div>
       				</div>
	       			</div>
	       		</div>
	       	</div>
	       	<div class="row">
	       		<div class="col-md-12">
       		     <div class="detail-content">
	       		  <div class="detail-content-block">
	       		  	 <h3>Tour description:</h3>
	       		  	   <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos cum, placeat harum delectus fuga ea neque voluptate. Sint placeat eligendi quisquam libero, possimus quibusdam voluptas consequatur temporibus fugiat! Qui, architecto.</span>
	       		  	   <span>Nisi quibusdam inventore quasi quam dolores, veniam, enim quisquam nam sequi, rem eaque unde? Quos dolor officia ipsum sapiente numquam qui pariatur, libero deserunt, repellendus obcaecati quia deleniti? Deserunt, debitis.</span>
	       		  	   <span>Ipsa rerum aspernatur a nam autem, est eos hic blanditiis vitae eius, reprehenderit voluptatibus obcaecati debitis dolor excepturi voluptatem omnis molestiae unde sequi! Explicabo totam, iure itaque similique incidunt atque?</span>
	       		  	   <span>Ipsa culpa ullam sequi perspiciatis. Perferendis sit aperiam impedit doloribus mollitia aliquam obcaecati laborum laboriosam magni consectetur est suscipit aliquid debitis unde fugiat dolor temporibus iusto itaque rerum, velit exercitationem.</span></p>
	       		  </div>
	       		 </div>
	       		</div>
	       	</div>
	       	<div class="row">
	       		<div class="col-md-12">
	       			<ul class="comments-block">
						<li class="comment-entry clearfix">
							<img class="commnent-img" src="img/detail/comment_1.jpg" alt="">
							<div class="comment-content clearfix">
								<div class="tour-info-line">
									<div class="tour-info">
							  	 		<img src="img/calendar_icon_grey.png" alt="">
							  	 		<span class="font-style-2 color-dark-2">03/07/2015</span>
							  	 	</div>
									<div class="tour-info">
							  	 		<img src="img/people_icon_grey.png" alt="">
							  	 		<span class="font-style-2 color-dark-2">By Emma Stone</span>
							  	 	</div>
								</div>
								<div class="comment-text color-grey">Nunc a tincidunt lectus, vitae molestie ante. Maecenas feugiat commodo sem facilisis vulputate. Integer fermentum laoreet sollicitud insollicitudin sollicitudin.</div>
								<a class="comment-reply c-button b-26 bg-red-3 hv-red-3-o" href="#">Reply</a>
							</div>
							<ul class="comments-block">
								<li class="comment-entry clearfix">
									<img class="commnent-img" src="img/detail/comment_2.jpg" alt="">
									<div class="comment-content clearfix">
										<div class="tour-info-line">
											<div class="tour-info">
									  	 		<img src="img/calendar_icon_grey.png" alt="">
									  	 		<span class="font-style-2 color-dark-2">03/07/2015</span>
									  	 	</div>
											<div class="tour-info">
									  	 		<img src="img/people_icon_grey.png" alt="">
									  	 		<span class="font-style-2 color-dark-2">By Emma Stone</span>
									  	 	</div>
										</div>
										<div class="comment-text color-grey">Nunc a tincidunt lectus, vitae molestie ante. Maecenas feugiat commodo sem facilisis vulputate. Integer fermentum laoreet sollicitud insollicitudin sollicitudin.</div>
										<a class="comment-reply c-button b-26 bg-red-3 hv-red-3-o" href="#">Reply</a>
									</div>
								</li>
							</ul>
						</li>
						<li class="comment-entry clearfix">
							<img class="commnent-img" src="img/detail/comment_3.jpg" alt="">
							<div class="comment-content clearfix">
								<div class="tour-info-line">
									<div class="tour-info">
							  	 		<img src="img/calendar_icon_grey.png" alt="">
							  	 		<span class="font-style-2 color-dark-2">03/07/2015</span>
							  	 	</div>
									<div class="tour-info">
							  	 		<img src="img/people_icon_grey.png" alt="">
							  	 		<span class="font-style-2 color-dark-2">By Emma Stone</span>
							  	 	</div>
								</div>
								<div class="comment-text color-grey">Nunc a tincidunt lectus, vitae molestie ante. Maecenas feugiat commodo sem facilisis vulputate. Integer fermentum laoreet sollicitud insollicitudin sollicitudin.</div>
								<a class="comment-reply c-button b-26 bg-red-3 hv-red-3-o" href="#">Reply</a>
							</div>
						</li>
						<li class="comment-entry clearfix">
							<img class="commnent-img" src="img/detail/comment_1.jpg" alt="">
							<div class="comment-content clearfix">
								<div class="tour-info-line">
									<div class="tour-info">
							  	 		<img src="img/calendar_icon_grey.png" alt="">
							  	 		<span class="font-style-2 color-dark-2">03/07/2015</span>
							  	 	</div>
									<div class="tour-info">
							  	 		<img src="img/people_icon_grey.png" alt="">
							  	 		<span class="font-style-2 color-dark-2">By Emma Stone</span>
							  	 	</div>
								</div>
								<div class="comment-text color-grey">Nunc a tincidunt lectus, vitae molestie ante. Maecenas feugiat commodo sem facilisis vulputate. Integer fermentum laoreet sollicitud insollicitudin sollicitudin.</div>
								<a class="comment-reply c-button b-26 bg-red-3 hv-red-3-o" href="#">Reply</a>
							</div>
						</li>
					</ul>
	       		</div>
	       	</div>
       	</div>
	</div>
	<div class="main-wraper padd-40">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-8">
				<form class="contact-form" action="#">
					<div class="row">
						<div class="col-xs-12 col-sm-6">
							<div class="input-style-1 type-2 color-2">
							  	<input type="text" required="" placeholder="Enter your name">
							</div>
						</div>
						<div class="col-xs-12 col-sm-6">
							<div class="input-style-1 type-2 color-2">
							  	<input type="text" required="" placeholder="Enter your email">
							</div>
						</div>
						<div class="col-xs-12 col-sm-6">
							<div class="input-style-1 type-2 color-2">
							  	<input type="text" required="" placeholder="Enter your name">
							</div>
						</div>
						<div class="col-xs-12 col-sm-6">
							<div class="drop-wrap drop-wrap-s-3 color-2">
							  	<div class="drop">
								 	<b>Department</b>
									<a href="#" class="drop-list"><i class="fa fa-angle-down"></i></a>
									<span>
									    <a href="#">01 kids</a>
										<a href="#">02 kids</a>
										<a href="#">03 kids</a>
										<a href="#">04 kids</a>
										<a href="#">05 kids</a>
									</span>
							   	</div>
							</div>
						</div>
						<div class="col-xs-12">
							<textarea class="area-style-1 color-1" required="" placeholder="Enter your comment"></textarea>
							<button type="submit" class="c-button bg-red-3 hv-red-3-o"><span>submit comment</span></button>
						</div>
					</div>
				</form>
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="contact-about">
					<h4 class="color-dark-2"><strong>contact info</strong></h4>
					<p class="color-grey-3">Donec gravida euismod felis, quis dictum justo scelerisque in. Aenean nec lacus ipsum. Suspendisse vel lobortis libero, eu imperdiet purus.  Aenean nec lacus ipsum.</p>
				</div>
				<div class="contact-info">
					<h4 class="color-dark-2"><strong>contact info</strong></h4>
					<div class="contact-line color-grey-3"><img src="img/phone_icon_2_dark.png" alt="">Phone: <a class="color-dark-2" href="tel:93123456789">+93 123 456 789</a></div>
					<div class="contact-line color-grey-3"><img src="img/mail_icon_b_dark.png" alt="">Email us: <a class="color-dark-2 tt" href="#">let’s_travel@world.com</a></div>
					<div class="contact-line color-grey-3"><img src="img/loc_icon_dark.png" alt="">Address: <span class="color-dark-2 tt">Aenean vulputate porttitor</span></div>
				</div>
				<div class="contact-socail">
					<a class="color-grey-3 link-dr-blue-2" href="#"><i class="fa fa-facebook"></i></a>
					<a class="color-grey-3 link-dr-blue-2" href="#"><i class="fa fa-twitter"></i></a>
					<a class="color-grey-3 link-dr-blue-2" href="#"><i class="fa fa-skype"></i></a>
					<a class="color-grey-3 link-dr-blue-2" href="#"><i class="fa fa-google-plus"></i></a>
					<a class="color-grey-3 link-dr-blue-2" href="#"><i class="fa fa-pinterest-p"></i></a>
					<a class="color-grey-3 link-dr-blue-2" href="#"><i class="fa fa-instagram"></i></a>
					<a class="color-grey-3 link-dr-blue-2" href="#"><i class="fa fa-behance"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

<!-- FOOTER -->
<footer class="bg-dark type-2">
    	<div class="container">
    		<div class="row">
    			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    				<div class="footer-block">
    					<img src="img/theme-1/logo.png" alt="" class="logo-footer">
    					<div class="f_text color-grey-7">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore  magna aliqua. Ut aliquip ex ea commodo consequat.</div>
    					<div class="footer-share">
    						<a href="#"><span class="fa fa-facebook"></span></a>
    						<a href="#"><span class="fa fa-twitter"></span></a>
    						<a href="#"><span class="fa fa-google-plus"></span></a>
    						<a href="#"><span class="fa fa-pinterest"></span></a>
    					</div>
    				</div>
    			</div>
    			<div class="col-lg-3 col-md-3 col-sm-6 col-sm-6 no-padding">
				   <div class="footer-block">
						<h6>Travel News</h6>
						<div class="f_news clearfix">
							<a class="f_news-img black-hover" href="#">
								<img class="img-responsive" src="img/home_6/news_1.jpg" alt="">
								<div class="tour-layer delay-1"></div>
							</a>
							<div class="f_news-content">
								<a class="f_news-tilte color-white link-red" href="#">amazing place</a>
								<span class="date-f">Mar 18, 2015</span>
								<a href="#" class="r-more">read more</a>
							</div>
						</div>
						<div class="f_news clearfix">
							<a class="f_news-img black-hover" href="#">
								<img class="img-responsive" src="img/home_6/news_2.jpg" alt="">
								<div class="tour-layer delay-1"></div>
							</a>
							<div class="f_news-content">
								<a class="f_news-tilte color-white link-red" href="#">amazing place</a>
								<span class="date-f">Mar 18, 2015</span>
								<a href="#" class="r-more">read more</a>
							</div>
						</div>
						<div class="f_news clearfix">
							<a class="f_news-img black-hover" href="#">
								<img class="img-responsive" src="img/home_6/news_1.jpg" alt="">
								<div class="tour-layer delay-1"></div>
							</a>
							<div class="f_news-content">
								<a class="f_news-tilte color-white link-red" href="#">amazing place</a>
								<span class="date-f">Mar 18, 2015</span>
								<a href="#" class="r-more">read more</a>
							</div>
						</div>
				   </div>
				</div>
    			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    			   <div class="footer-block">
                     <h6>Tags:</h6>
    			      <a href="#" class="tags-b">flights</a>
    			      <a href="#" class="tags-b">traveling</a>
    			      <a href="#" class="tags-b">sale</a>
    			      <a href="#" class="tags-b">cruises</a>
    			      <a href="#" class="tags-b">cars</a>
    			      <a href="#" class="tags-b">hotels</a>
    			      <a href="#" class="tags-b">tours</a>
    			      <a href="#" class="tags-b">booking</a>
    			      <a href="#" class="tags-b">countries</a>
				   </div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                   <div class="footer-block">
                     <h6>Contact Info</h6>
                       <div class="contact-info">
                        <div class="contact-line color-grey-3"><i class="fa fa-map-marker"></i><span>Aenean vulputate porttitor</span></div>
						<div class="contact-line color-grey-3"><i class="fa fa-phone"></i><a href="tel:93123456789">+93 123 456 789</a></div>
						<div class="contact-line color-grey-3"><i class="fa fa-envelope-o"></i><a href="mailto:">letstravel@mail.com</a></div>
						<div class="contact-line color-grey-3"><i class="fa fa-globe"></i><a href="#">let’s_travel@world.com</a></div>

					</div>
				   </div>
				</div>
    		</div>
    	</div>
    	<div class="footer-link bg-black">
    	  <div class="container">
    	  	<div class="row">
    	  		<div class="col-md-12">
    	  		    <div class="copyright">
						<span>&copy; 2015 All rights reserved. LET'STRAVEL</span>
					</div>
    	  			<ul>
						<li><a class="link-aqua" href="#">Privacy Policy </a></li>
						<li><a class="link-aqua" href="#">About Us</a></li>
						<li><a class="link-aqua" href="#">Support </a></li>
						<li><a class="link-aqua" href="#">FAQ</a></li>
						<li><a class="link-aqua" href="#">Blog</a></li>
						<li><a class="link-aqua" href="#"> Forum</a></li>
					</ul>
    	  		</div>
    	  	</div>
    	  </div>
    	</div>
    </footer>
<script src="js/jquery-2.1.4.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/idangerous.swiper.min.js"></script>
<script src="js/jquery.viewportchecker.min.js"></script>
<script src="js/isotope.pkgd.min.js"></script>
<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;language=en"></script>
<script src="js/jquery.mousewheel.min.js"></script>
<script src="js/jquery.circliful.min.js"></script>
<script src="js/jquery.countTo.js"></script>
<script src="js/map.js"></script>
<script src="js/all.js"></script>
</body>
</html>