<!DOCTYPE html>
<html>
	<% include ../public/partials/head %>
<body data-color="theme-1">

    <% include ../public/partials/header %>

<div class="loading red">
	<div class="loading-center">
		<div class="loading-center-absolute">
			<div class="object object_four"></div>
			<div class="object object_three"></div>
			<div class="object object_two"></div>
			<div class="object object_one"></div>
		</div>
	</div>
</div>



<!-- INNER-BANNER -->
<div class="inner-banner style-6">
	<img class="center-image" src="img/banners/documents_banner.png" alt="">
	<div class="vertical-align">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-8 col-md-offset-2">
		  			<h2 class="color-white">Documents</h2>
  				</div>
			</div>
		</div>
	</div>
</div>

<div class="main-wraper padd-90 bg-grey-2 tabs-page">
       <div class="container">
     	  <div class="row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2">
				<div class="second-title">
					<h2>Let's Travel Policies</h2>
				</div>
			</div>
		  </div>
		  <div class="row">
				 <div class="col-md-12">
					<div class="simple-tab type-2 tab-wrapper">
						<div class="tab-nav-wrapper">
							<div  class="nav-tab  clearfix">
								<div class="nav-tab-item active">
									Documents
								</div>
								<div class="nav-tab-item">
									Bank details
								</div>
							</div>
						</div>
						<div class="tabs-content tabs-wrap-style clearfix">
								<div class="tab-info active">
								   <div class="acc-body">
										<h5>metus Aenean eget massa</h5>
										<p>Mauris posuere diam at enim malesuada, ac malesuada erat auctor. Ut porta mattis tellus eu sagittis. Nunc maximus ipsum a mattis dignissim. Suspendisse id pharetra lacus, et hendrerit mi. Praesent at vestibulum tortor. Ut porta mattis tellus eu</p>
										<h5>Documents</h5>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
										<div class="row">
											<div class="col-xs-12 col-md-4 color-list">
												<ul>
													<li><a>Agency license</a></li>
													<li><a>Agency license 2</a></li>
												</ul>
											</div>
											<div class="col-xs-12 col-md-4 color-list">
												<ul>
                                                    <li><a>Certificate 1</a></li>
                                                    <li><a>Certificate 2</a></li>
												</ul>
											</div>
											<div class="col-xs-12 col-md-4 color-list">
												<ul>
													<li><a>Agency contract</a></li>
													<li><a>Agency contract 2</a></li>
													<li><a>Contract template</a></li>
												</ul>
											</div>
										</div>
									</div>
                                </div>

                                <div class="tab-info">
                                    <div class="acc-body">
                                     <div class="acc-body-block">
                                         <h3>Bank details:</h3>
                                         <h5>"Burgas Travel Tour" LTD </h5>
                                         <h5>SWIFT Code: UNCRBGSF </h5>
                                         <h5>IBAN: BG50UNCR70001520438086 – BGN</h5>
                                         <h5>IBAN: BG72UNCR70001523188804 - EUR</h5>
                                         <h5>"UniCredit Bulbank" JSC </h5>
                                     </div>


                                 </div>


					  </div>
				 </div>
			  </div>
	   </div>
	 </div>
	</div>

    <% include ../public/partials/footer %>
</body>
</html>