<!DOCTYPE html>
<html>
<% include ../public/partials/head %>

<body data-color="theme-1">

    <div class="loading dr-blue-2">
        <div class="loading-center">
            <div class="loading-center-absolute">
                <div class="object object_four"></div>
                <div class="object object_three"></div>
                <div class="object object_two"></div>
                <div class="object object_one"></div>
            </div>
        </div>
    </div>

    <% include ../public/partials/header %>
    <div class="top-baner swiper-animate arrows">
        <div class="swiper-container main-slider" data-autoplay="5000" data-loop="1" data-speed="900" data-center="0"
            data-slides-per-view="1">
            <div class="swiper-wrapper">
                <% sliderOffers.forEach(function(offer){ %>
                <% if (offer.translations && offer.translations.length > 0) { %>
                <div class="swiper-slide active" data-val="0">
                    <div class="clip">
                        <div class="bg bg-bg-chrome act"
                            style="background-image:url(<%= offer.photos[0] || '/demo/HomePage_Offers_1.jpg' %>)">
                        </div>
                    </div>
                    <div class="vertical-align">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="main-title style-1 vert-title">
                                        <h1 class="color-white delay-1">
                                            <%= offer.translations && offer.translations.length > 0 ? offer.translations[0].name : 'unnamed'%>
                                        </h1>
                                        <h3 class="person_price color-white delay-1">
                                            <%= offer.translations[0].subtitle ? offer.translations[0].subtitle.replace(/<[^>]*>?/gm, '') : '' %>
                                        </h3>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6">
                                                <a href="/details/<%= offer.id %>"
                                                    class="c-button b-60 bg-blue-3 hv-transparent delay-2 fr"><img
                                                        src="img/loc_icon.png"
                                                        alt=""><span><%= translation.DETAILS %></span></a>
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                                <a href="#"
                                                    class="c-button b-60 bg-tr-1 hv-blue-3-f delay-2 fl"><span><%= translation.BOOK_NOW %></span></a>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
                <% }) %>



            </div>
            <div class="pagination pagination-hidden poin-style-1"></div>
        </div>
        <div class="arrow-wrapp m-200 arr-s-7">
            <div class="cont-1170">
                <div class="swiper-arrow-left sw-arrow"><span class="fa fa-angle-left"></span></div>
                <div class="swiper-arrow-right sw-arrow"><span class="fa fa-angle-right"></span></div>
            </div>
        </div>

        <div class="baner-tabs style-2">
            <%- include('partials/search'); %>
        </div>
    </div>

    <% if (destinationsBlock.length > 0) { %>
    <!-- DESTINATIONS -->
    <div class="main-wraper">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="popular-desc">
                        <div class="vertical-align">
                            <h2 class="second-title"><%= translation.HOME.DESTINATIONS %></h2>
                            <div class="row home-countries-list">
                                <% for(let i = 0; i < destinationsBlock.length; i++) { %>
                                <div class="country-list-item col-md-3">
                                    <a
                                        href="/countries/<%= destinationsBlock[i].id %>/offers"><%= destinationsBlock[i].translations[lang].name %></a>
                                </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
        <% for (const key in homePageSubcategories){ %>
        <div class="main-wraper padd-90">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                        <div class="second-title">
                            <!-- <h4 class="subtitle color-dr-blue-2">only now</h4> -->
                            <h2 class="color-dark-2"><%= homePageSubcategories[key].translations[lang].name %></h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-md-12">
                        <div class="grid-content clearfix">
                            <%  homePageSubcategories[key].offers.forEach(function(offer){  %>


                            <div class="list-item-entry">
                                <div class="hotel-item style-9 bg-white">
                                    <%- include('../public/partials/offer-card', {offer}); %>
                                </div>
                            </div>
                            <% }) %>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <% } %>

        <% include ../public/partials/footer %>
</body>

</html>