<!DOCTYPE html>
<html>
<% include ../public/partials/head %>

<body data-color="theme-1">

    <% include ../public/partials/header %>


    <!-- DETAIL WRAPPER -->
    <div class="detail-wrapper">
        <div class="container">
            <div class="detail-header">
                <div class="row">
                    <div class="col-xs-12 col-sm-8">
                        <div class="detail-category color-grey-3"><%= hotel.destination %></div>
                        <h2 class="detail-title color-dark-2"><%= hotel.name %></h2>
                        <div class="detail-rate rate-wrap clearfix">
                            <div class="rate">
                                <% for(i = 1; i <= hotel.stars; i++){ %>
                                <span class="fa fa-star color-yellow"></span>
                                <% } %>
                            </div>
                            <!-- <i>485 Rewies</i> -->
                        </div>
                    </div>
                    <!-- <div class="col-xs-12 col-sm-4">
                        <div class="detail-price color-dark-2">price from <span class="color-dr-blue"> $200</span>
                            /person</div>
                    </div> -->
                </div>
            </div>
            <div class="row padd-90">
                <div class="col-xs-12 col-md-8">
                    <div class="detail-content color-1">
                        <div class="detail-top slider-wth-thumbs style-2">
                            <div class="swiper-container thumbnails-preview" data-autoplay="0" data-loop="1"
                                data-speed="500" data-center="0" data-slides-per-view="1">
                                <div class="swiper-wrapper">
                                    <% for(i = 0; i < hotel.photos.length; i++){ %>
                                    <div class="swiper-slide" data-val="<%= i %>">
                                        <img class="img-responsive img-full img-big"
                                            src="/uploads/hotels/<%= hotel.photos[i] %>" alt="">
                                    </div>
                                    <% } %>
                                </div>
                                <div class="pagination pagination-hidden"></div>
                            </div>
                            <div class="swiper-container thumbnails" data-autoplay="0" data-loop="0" data-speed="500"
                                data-center="0" data-slides-per-view="responsive" data-xs-slides="3" data-sm-slides="5"
                                data-md-slides="5" data-lg-slides="5" data-add-slides="5">
                                <div class="swiper-wrapper">

                                    <% for(i = 0; i < hotel.photos.length; i++){ %>
                                    <div class="swiper-slide" data-val="<%= i %>">
                                        <img class="img-responsive img-full img-small"
                                            src="/uploads/hotels/<%= hotel.photos[i] %>" alt="">
                                    </div>
                                    <% } %>
                                </div>
                                <div class="pagination hidden"></div>
                            </div>
                        </div>

                        <div class="detail-content-block">
                            <h3><%= translation.HOTEL.GENERAL_DESCRIPTION %></h3>
                            <p><%- hotel.translationsByLang[lang].description %></p>
                            <h3><%= translation.HOTEL.PRICING %></h3>
                            <p><%- hotel.translationsByLang[lang].pricing %></p>

                            <!-- <h5>interesting for you</h5>

                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item"
                                    src="https://player.vimeo.com/video/64473966?color=dedede&amp;title=0&amp;byline=0&amp;portrait=0"></iframe>
                            </div> -->
                        </div>
                        <!-- <div class="detail-content-block">
                            <h3>If You Have Any Questions</h3>
                            <div class="accordion style-2">
                                <div class="acc-panel">
                                    <div class="acc-title"><span class="acc-icon"></span>How can I manage Instant Book
                                        settings?</div>
                                    <div class="acc-body">
                                        <h5>metus Aenean eget massa</h5>
                                        <p>Mauris posuere diam at enim malesuada, ac malesuada erat auctor. Ut porta
                                            mattis tellus eu sagittis. Nunc maximus ipsum a mattis dignissim.
                                            Suspendisse id pharetra lacus, et hendrerit mi. Praesent at vestibulum
                                            tortor. Ut porta mattis tellus eu sagittis. Nunc maximus ipsum a mattis
                                            dignissim.</p>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6">
                                                <ul>
                                                    <li>Shopping history</li>
                                                    <li>Hot offers according your settings</li>
                                                    <li>Multi-product search</li>
                                                    <li>Opportunity to share with friends</li>
                                                    <li>User-friendly interface</li>
                                                </ul>
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                                <ul>
                                                    <li>Shopping history</li>
                                                    <li>Hot offers according your settings</li>
                                                    <li>Multi-product search</li>
                                                    <li>Opportunity to share with friends</li>
                                                    <li>User-friendly interface</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="acc-panel">
                                    <div class="acc-title"><span class="acc-icon"></span>How do I list multiple rooms?
                                    </div>
                                    <div class="acc-body">
                                        <h5>metus Aenean eget massa</h5>
                                        <p>Mauris posuere diam at enim malesuada, ac malesuada erat auctor. Ut porta
                                            mattis tellus eu sagittis. Nunc maximus ipsum a mattis dignissim.
                                            Suspendisse id pharetra lacus, et hendrerit mi. Praesent at vestibulum
                                            tortor. Ut porta mattis tellus eu sagittis. Nunc maximus ipsum a mattis
                                            dignissim.</p>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6">
                                                <ul>
                                                    <li>Shopping history</li>
                                                    <li>Hot offers according your settings</li>
                                                    <li>Multi-product search</li>
                                                    <li>Opportunity to share with friends</li>
                                                    <li>User-friendly interface</li>
                                                </ul>
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                                <ul>
                                                    <li>Shopping history</li>
                                                    <li>Hot offers according your settings</li>
                                                    <li>Multi-product search</li>
                                                    <li>Opportunity to share with friends</li>
                                                    <li>User-friendly interface</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="acc-panel">
                                    <div class="acc-title"><span class="acc-icon"></span>How do I use my calendar?</div>
                                    <div class="acc-body">
                                        <h5>metus Aenean eget massa</h5>
                                        <p>Mauris posuere diam at enim malesuada, ac malesuada erat auctor. Ut porta
                                            mattis tellus eu sagittis. Nunc maximus ipsum a mattis dignissim.
                                            Suspendisse id pharetra lacus, et hendrerit mi. Praesent at vestibulum
                                            tortor. Ut porta mattis tellus eu sagittis. Nunc maximus ipsum a mattis
                                            dignissim.</p>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6">
                                                <ul>
                                                    <li>Shopping history</li>
                                                    <li>Hot offers according your settings</li>
                                                    <li>Multi-product search</li>
                                                    <li>Opportunity to share with friends</li>
                                                    <li>User-friendly interface</li>
                                                </ul>
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                                <ul>
                                                    <li>Shopping history</li>
                                                    <li>Hot offers according your settings</li>
                                                    <li>Multi-product search</li>
                                                    <li>Opportunity to share with friends</li>
                                                    <li>User-friendly interface</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="right-sidebar">
                        <div class="detail-block bg-dr-blue">
                            <h4 class="color-white"><%= translation.HOTEL.DETAILS %></h4>
                            <div class="details-desc">
                                <p class="color-grey-9"><%= translation.HOTEL.LOCATION %>: <span
                                        class="color-white"><%= hotel.destination %></span></p>
                                <p class="color-grey-9"><%= translation.HOTEL.HOTEL_CLASS %>:
                                    <span class="color-white"><%= hotel.stars %> <span
                                            class="fa fa-star color-yellow"></span>
                                    </span>
                                </p>
                                <!-- <p class="color-grey-9">Category: <span class="color-white">hotels</span></p>
                                <p class="color-grey-9">price: <span class="color-white">$500 / person</span></p>
                                <p class="color-grey-9">date: <span class="color-white">july 19th to july 29th</span>
                                </p> -->
                                <!-- <p class="color-grey-9">number of people: <span class="color-white">2 adult</span></p> -->
                                <!-- <p class="color-grey-9">Bed Type: <span class="color-white">Queen Size</span></p>
                                <p class="color-grey-9">Cable TV: <span class="color-white">FREE</span></p>
                                <p class="color-grey-9">Telephone: <span class="color-white">YES</span></p>
                                <p class="color-grey-9">Room Service: <span class="color-white">Included</span></p>
                                <p class="color-grey-9">Wireless: <span class="color-white">YES</span></p>
                                <p class="color-grey-9">Minibar: <span class="color-white">FREE</span></p>
                                <p class="color-grey-9">CANCELLATION: <span class="color-white">STRICT</span></p> -->
                            </div>
                            <!-- <div class="details-btn">
                                <a href="#" class="c-button b-40 bg-tr-1 hv-white"><span>view on map</span></a>
                                <a href="#" class="c-button b-40 bg-white hv-transparent"><span>book now</span></a>
                            </div> -->
                        </div>

                        <!-- <div class="popular-tours bg-grey-2">
                            <h4 class="color-dark-2">popular tours</h4>
                            <div class="hotel-small style-2 clearfix">
                                <a class="hotel-img black-hover" href="#">
                                    <img class="img-responsive radius-3" src="/img/detail/hotel_small_1.jpg" alt="">
                                    <div class="tour-layer delay-1"></div>
                                </a>
                                <div class="hotel-desc">
                                    <h5><span class="color-dark-2">from <strong>$273</strong></span></h5>
                                    <h4>bristol Hotel</h4>
                                    <div class="hotel-loc">2 Place de la Sans Défense, Puteaux, Paris, France.</div>
                                </div>
                            </div>
                            <div class="hotel-small style-2 clearfix">
                                <a class="hotel-img black-hover" href="#">
                                    <img class="img-responsive radius-3" src="/img/detail/hotel_small_2.jpg" alt="">
                                    <div class="tour-layer delay-1"></div>
                                </a>
                                <div class="hotel-desc">
                                    <h5><span class="color-dark-2">from <strong>$273</strong></span></h5>
                                    <h4>bristol Hotel</h4>
                                    <div class="hotel-loc">2 Place de la Sans Défense, Puteaux, Paris, France.</div>
                                </div>
                            </div>
                            <div class="hotel-small style-2 clearfix">
                                <a class="hotel-img black-hover" href="#">
                                    <img class="img-responsive radius-3" src="/img/detail/hotel_small_3.jpg" alt="">
                                    <div class="tour-layer delay-1"></div>
                                </a>
                                <div class="hotel-desc">
                                    <h5><span class="color-dark-2">from <strong>$273</strong></span></h5>
                                    <h4>bristol Hotel</h4>
                                    <div class="hotel-loc">2 Place de la Sans Défense, Puteaux, Paris, France.</div>
                                </div>
                            </div>
                        </div> -->
                        <%- include('partials/useful-information'); %>
                    </div>
                </div>
            </div>
            <div class="grid-content clearfix">
                <% hotelsInSameDestination.forEach(function(hotel){ %>
                <%- include('partials/hotel-listing-item', {hotel: hotel}); %>
                <% }); %>
            </div>
        </div>
    </div>


    <% include ../public/partials/footer %>
</body>

</html>