<!DOCTYPE html>
<html>
<% include ../public/partials/head %>

<body data-color="theme-1">

  <% include ../public/partials/header %>

  <!-- INNER-BANNER -->
  <!-- <div class="inner-banner style-6">
        <img class="center-image" src="/demo/Details_Offer_MainBanner_Cruise.png" alt="">
        <div class="vertical-align">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-8 col-md-offset-2">
                        <ul class="banner-breadcrumb color-white clearfix">
                            <li><a class="link-blue-2" href="#">home</a> /</li>
                            <li><a class="link-blue-2" href="#">tours</a> /</li>
                            <li><span>detail</span></li>
                        </ul>
                        <h2 class="color-white">sea cruises</h2>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

  <!-- DETAIL WRAPPER -->
  <div class="detail-wrapper">
    <div class="container">
      <div class="detail-header">
        <div class="row">
          <div class="col-xs-12 col-sm-8">
            <h2 class="detail-title color-dark-2">
              <%if (offer.isPromo) { %>
              <%= offer.translations.promoTitle %>
              <% } else{ %>
              <%= offer.translations.name %>
              <% } %>
            </h2>
            <%if (offer.isPromo) { %>
            <span class="promo-badge offer-details-promo-badge"><%= translation.OFFER.PROMO %></span>
            <% } %>

            <div class="detail-category color-grey-3"><%= offer.translations.subtitle %></div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="detail-price color-dark-2"><%= translation.OFFER.PRICE_FROM %>
              <span class="color-dr-blue">
                <%if (offer.isPromo) { %>
                <%= offer.promoPrice + translation.DEFAULT_CURRENCY %>
                <span class="old-price">(<%= offer.price %><%= translation.DEFAULT_CURRENCY %>)</span>
                <% } else{ %>
                <%= offer.price + translation.DEFAULT_CURRENCY  %>
                <% } %>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row padd-90">
        <div class="col-xs-12 col-md-8">
          <div class="detail-content">
            <div class="detail-top slider-wth-thumbs style-2">
              <div class="swiper-container thumbnails-preview" data-autoplay="0" data-loop="1" data-speed="500"
                data-center="0" data-slides-per-view="1">
                <div class="swiper-wrapper">
                  <% for(i = 0; i < offer.photos.length; i++){ %>
                  <div class="swiper-slide" data-val="<%= i %>">
                    <img class="img-responsive img-full img-big" src="<%= offer.photos[i].path %>" alt="">
                  </div>
                  <% } %>
                </div>
                <div class="pagination pagination-hidden"></div>
              </div>
              <div class="swiper-container thumbnails" data-autoplay="0" data-loop="0" data-speed="500" data-center="0"
                data-slides-per-view="responsive" data-xs-slides="3" data-sm-slides="5" data-md-slides="5"
                data-lg-slides="5" data-add-slides="5">
                <div class="swiper-wrapper">

                  <% for(i = 0; i < offer.photos.length; i++){ %>
                  <div class="swiper-slide" data-val="<%= i %>">
                    <img class="img-responsive img-full img-small" src="<%= offer.photos[i].path %>" alt="">
                  </div>
                  <% } %>
                </div>
                <div class="pagination hidden"></div>
              </div>
            </div>
            <div class="detail-content-block">
              <br>
              <h2><%= translation.OFFER.SCHEDULE %></h2>
              <hr />
              <br>
              <%- offer.translations.schedule %>
              <br>
              <h2><%= translation.OFFER.PRICING %></h2>
              <hr />
              <%- offer.translations.pricing %>
              <br>
              <h2><%= translation.OFFER.OTHER_INFO %></h2>
              <hr />
              <%- offer.translations.otherInfo %>
            </div>
          </div>

        </div>



        <div class="col-xs-12 col-md-4">
          <div class="right-sidebar">
            <div class="detail-block bg-dr-blue-2">
              <h4 class="color-white"><%= translation.OFFER.DETAILS %></h4>
              <div class="details-desc">
                <p class="color-blue-5"><%= translation.OFFER.CATEGORY %><span
                    class="color-white"><%= offer.categoryName %></span>
                </p>
                <p class="color-blue-5"><%= translation.OFFER.SUBCATEGORY %><span
                    class="color-white"><%= offer.subCategoryName %></span></p>
                <p class="color-blue-5"><%= translation.OFFER.ITINERARY %>:<span
                    class="color-white"><%= offer.translations.itinerary %></span></p>
                <p class="color-blue-5"><%= translation.OFFER.TRANSPORT %><span
                    class="color-white"><%= offer.transportTypeName %></span></p>
                <p class="color-blue-5"><%= translation.OFFER.DURATION %>:<span class="color-white">
                    <%= offer.translations.duration %>
                  </span>
                </p>
                <p class="color-blue-5"><%= translation.OFFER.PRICE_FROM %>
                  <span class="color-white">
                    <%if (offer.isPromo) { %>
                    <%= offer.promoPrice %>
                    <% } else{ %>
                    <%= offer.price %>
                    <% } %>
                    <%= translation.DEFAULT_CURRENCY %>
                  </span>
                </p>
                <p class="color-blue-5"><%= translation.OFFER.NAME %>
                  <span class="color-white"><%= offer.translations.name %></span>
                </p>
                <p class="color-blue-5"><%= translation.OFFER.DATES %>
                  <span class="color-white"><%= offer.dates %> </span>
                </p>
              </div>
              <div class="details-btn print-hide">
                <a href="book-now" class="c-button b-40 bg-white hv-transparent">
                  <span><%= translation.OFFER.BOOK_NOW %></span>
                </a>
                <a href="#" onclick="window.print();" class="c-button b-40 bg-white hv-transparent fr">
                  <span><%= translation.PRINT %></span>
                </a>
              </div>
            </div>


            <%- include('partials/useful-information'); %>

          </div>
        </div>
      </div>

      <div class="grid-content clearfix">
        <% hotels.forEach(function(hotel){ %>
        <%- include('partials/hotel-listing-item', {hotel: hotel}); %>
        <% }); %>
      </div>
    </div>
  </div>
  <% include ../public/partials/footer %>
</body>

</html>