<!DOCTYPE html>
<html>
		<% include ../public/partials/head %>
<body data-color="theme-1">

		<% include ../public/partials/header %>

  	<div class="inner-banner">
  		<img class="center-image" src="demo/Offers_MainBanner.jpg" alt="">
	  	<div class="vertical-align">
	  		<div class="container">
	  			<ul class="banner-breadcrumb color-white clearfix">
	  				<li><a class="link-blue-2" href="#">home</a> /</li>
	  				<li><a class="link-blue-2" href="#">tours</a> /</li>
	  				<li><span class="color-blue-2">list tours</span></li>
	  			</ul>
	  			<h2 class="color-white">all tours for you</h2>
	  			<h4 class="color-white">We found: <span>640</span> tours</h4>
	  		</div>
  		</div>
	  </div>



	  <div class="main-wraper padd-90">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="second-title">
							<h2>The Best Sea Tours</h2>
							  <p class="color-grey">Curabitur nunc erat, consequat in erat ut, congue bibendum nulla. Suspendisse id tor.</p>
						</div>
					</div>
				</div>


				<div class="list-header clearfix">
						<div class="drop-wrap drop-wrap-s-4 color-4 list-sort">
						  <div class="drop">
							 <b>Sort by price</b>
								<a href="#" class="drop-list"><i class="fa fa-angle-down"></i></a>
								<span>
									<a href="#">ASC</a>
									<a href="#">DESC</a>
								</span>
						   </div>
						</div>
						<div class="drop-wrap drop-wrap-s-4 color-4 list-sort">
						  <div class="drop">
							 <b>Sort by date</b>
								<a href="#" class="drop-list"><i class="fa fa-angle-down"></i></a>
								<span>
									<a href="#">ASC</a>
									<a href="#">DESC</a>
								</span>
						   </div>
						</div>
					</div>

				<div class="row">
					<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
						<div class="radius-mask tour-block hover-aqua">
						  <div class="clip">
							 <div class="bg bg-bg-chrome act" style="background-image:url(demo/Offers_Offer1.png)">
							 </div>
						  </div>
						  <div class="tour-layer delay-1"></div>
						  <div class="tour-caption">
							   <div class="vertical-align">
								   <h3 class="hover-it">mauritius</h3>
								   <h4>from <b>$860</b></h4>
							   </div>
							   <div class="vertical-bottom">
								 <div class="fl">
								   <div class="tour-info">
									   <!-- <img src="img/people_icon.png" alt=""> -->
										 <span class="font-style-2 color-grey-4">plane</span>
								   </div>
								   <div class="tour-info">
									   <img src="img/calendar_icon.png" alt="">
										 <span class="font-style-2 color-grey-4">July<strong class="color-white"> 19th</strong> to July<strong class="color-white"> 26th</strong></span>
								   </div>
								 </div>
								   <a href="details" class="c-button b-50 bg-aqua hv-transparent fr"><img src="img/flag_icon.png" alt=""><span>view more</span></a>
							   </div>
						  </div>
						</div>
					</div>



					<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
							<div class="radius-mask tour-block hover-aqua">
							  <div class="clip">
								 <div class="bg bg-bg-chrome act" style="background-image:url(demo/Offers_Offer2.png)">
								 </div>
							  </div>
							  <div class="tour-layer delay-1"></div>
							  <div class="tour-caption">
								   <div class="vertical-align">
									   <h3 class="hover-it">mauritius</h3>
									   <h4>from <b>$860</b></h4>
								   </div>
								   <div class="vertical-bottom">
									 <div class="fl">
									   <div class="tour-info">
										   <!-- <img src="img/people_icon.png" alt=""> -->
											 <span class="font-style-2 color-grey-4">plane</span>
									   </div>
									   <div class="tour-info">
										   <img src="img/calendar_icon.png" alt="">
											 <span class="font-style-2 color-grey-4">July<strong class="color-white"> 19th</strong> to July<strong class="color-white"> 26th</strong></span>
									   </div>
									 </div>
									   <a href="details" class="c-button b-50 bg-aqua hv-transparent fr"><img src="img/flag_icon.png" alt=""><span>view more</span></a>
								   </div>
							  </div>
							</div>
						</div>




						<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
								<div class="radius-mask tour-block hover-aqua">
								  <div class="clip">
									 <div class="bg bg-bg-chrome act" style="background-image:url(demo/Offers_Offer3.png)">
									 </div>
								  </div>
								  <div class="tour-layer delay-1"></div>
								  <div class="tour-caption">
									   <div class="vertical-align">
										   <h3 class="hover-it">mauritius</h3>
										   <h4>from <b>$860</b></h4>
									   </div>
									   <div class="vertical-bottom">
										 <div class="fl">
										   <div class="tour-info">
											   <!-- <img src="img/people_icon.png" alt=""> -->
												 <span class="font-style-2 color-grey-4">plane</span>
										   </div>
										   <div class="tour-info">
											   <img src="img/calendar_icon.png" alt="">
												 <span class="font-style-2 color-grey-4">July<strong class="color-white"> 19th</strong> to July<strong class="color-white"> 26th</strong></span>
										   </div>
										 </div>
										   <a href="details" class="c-button b-50 bg-aqua hv-transparent fr"><img src="img/flag_icon.png" alt=""><span>view more</span></a>
									   </div>
								  </div>
								</div>
							</div>




							<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
									<div class="radius-mask tour-block hover-aqua">
									  <div class="clip">
										 <div class="bg bg-bg-chrome act" style="background-image:url(demo/Offers_Offer4.png)">
										 </div>
									  </div>
									  <div class="tour-layer delay-1"></div>
									  <div class="tour-caption">
										   <div class="vertical-align">
											   <h3 class="hover-it">mauritius</h3>
											   <h4>from <b>$860</b></h4>
										   </div>
										   <div class="vertical-bottom">
											 <div class="fl">
											   <div class="tour-info">
												   <!-- <img src="img/people_icon.png" alt=""> -->
													 <span class="font-style-2 color-grey-4">plane</span>
											   </div>
											   <div class="tour-info">
												   <img src="img/calendar_icon.png" alt="">
													 <span class="font-style-2 color-grey-4">July<strong class="color-white"> 19th</strong> to July<strong class="color-white"> 26th</strong></span>
											   </div>
											 </div>
											   <a href="details" class="c-button b-50 bg-aqua hv-transparent fr"><img src="img/flag_icon.png" alt=""><span>view more</span></a>
										   </div>
									  </div>
									</div>
								</div>



								<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
										<div class="radius-mask tour-block hover-aqua">
										  <div class="clip">
											 <div class="bg bg-bg-chrome act" style="background-image:url(demo/Offers_Offer5.png)">
											 </div>
										  </div>
										  <div class="tour-layer delay-1"></div>
										  <div class="tour-caption">
											   <div class="vertical-align">
												   <h3 class="hover-it">mauritius</h3>
												   <h4>from <b>$860</b></h4>
											   </div>
											   <div class="vertical-bottom">
												 <div class="fl">
												   <div class="tour-info">
													   <!-- <img src="img/people_icon.png" alt=""> -->
														 <span class="font-style-2 color-grey-4">plane</span>
												   </div>
												   <div class="tour-info">
													   <img src="img/calendar_icon.png" alt="">
														 <span class="font-style-2 color-grey-4">July<strong class="color-white"> 19th</strong> to July<strong class="color-white"> 26th</strong></span>
												   </div>
												 </div>
												   <a href="details" class="c-button b-50 bg-aqua hv-transparent fr"><img src="img/flag_icon.png" alt=""><span>view more</span></a>
											   </div>
										  </div>
										</div>
									</div>



									<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
											<div class="radius-mask tour-block hover-aqua">
											  <div class="clip">
												 <div class="bg bg-bg-chrome act" style="background-image:url(demo/Offers_Offer6.png)">
												 </div>
											  </div>
											  <div class="tour-layer delay-1"></div>
											  <div class="tour-caption">
												   <div class="vertical-align">
													   <h3 class="hover-it">mauritius</h3>
													   <h4>from <b>$860</b></h4>
												   </div>
												   <div class="vertical-bottom">
													 <div class="fl">
													   <div class="tour-info">
														   <!-- <img src="img/people_icon.png" alt=""> -->
															 <span class="font-style-2 color-grey-4">plane</span>
													   </div>
													   <div class="tour-info">
														   <img src="img/calendar_icon.png" alt="">
															 <span class="font-style-2 color-grey-4">July<strong class="color-white"> 19th</strong> to July<strong class="color-white"> 26th</strong></span>
													   </div>
													 </div>
													   <a href="details" class="c-button b-50 bg-aqua hv-transparent fr"><img src="img/flag_icon.png" alt=""><span>view more</span></a>
												   </div>
											  </div>
											</div>
										</div>

				</div>
			</div>
		</div>

	  <% include ../public/partials/footer %>
</body>
</html>