<!DOCTYPE html>
<html>
<% include ../public/partials/head %>

<body data-color="theme-1">

    <div class="loading dr-blue-2">
        <div class="loading-center">
            <div class="loading-center-absolute">
                <div class="object object_four"></div>
                <div class="object object_three"></div>
                <div class="object object_two"></div>
                <div class="object object_one"></div>
            </div>
        </div>
    </div>

    <% include ../public/partials/header %>


    <!-- INNER-BANNER -->
    <div class="inner-banner style-6">
        <img class="center-image" src="/img/detail/bg_4.jpg" alt="">
        <div class="vertical-align">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-8 col-md-offset-2">
                        <h4 class="color-white"><%= translation.SEARCH.RESULTS %></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- GRID    -->
    <div class="list-wrapper bg-grey-2">
        <div class="container">
            <!-- <ul class="list-breadcrumb clearfix">
                <li><a class="color-grey link-dr-blue" href="#">home</a> /</li>
                <li><a class="color-grey link-dr-blue" href="#">hotels</a> /</li>
                <li><span class="color-dr-blue">list hotels</span></li>
            </ul> -->
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-12">
                    <div class="grid-content clearfix">
                        <%  offers.forEach(function(offer){  %>

                        <div class="list-item-entry">
                            <div class="hotel-item style-9 bg-white">
                                <%- include('../public/partials/offer-card', {offer: offer}); %>
                            </div>
                        </div>
                        <% }) %>
                    </div>

                    <!-- <div class="c_pagination clearfix padd-120">
                        <a href="#"
                            class="c-button b-40 bg-dr-blue-2 hv-dr-blue-2-o fl"><%= translation.PAGINATION.PREV %></a>
                        <a href="#"
                            class="c-button b-40 bg-dr-blue-2 hv-dr-blue-2-o fr"><%= translation.PAGINATION.NEXT %></a>
                        <ul class="cp_content color-3">
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">...</a></li>
                            <li><a href="#">10</a></li>
                        </ul>
                    </div> -->
                </div>
            </div>
        </div>
    </div>


    <% include ../public/partials/footer %>
</body>

</html>