<!DOCTYPE html>
<html>
<% include ../public/partials/head %>

<body data-color="theme-1">

  <div class="loading dr-blue-2">
    <div class="loading-center">
      <div class="loading-center-absolute">
        <div class="object object_four"></div>
        <div class="object object_three"></div>
        <div class="object object_two"></div>
        <div class="object object_one"></div>
      </div>
    </div>
  </div>

  <% include ../public/partials/header %>
  <!-- INNER-BANNER -->
  <div class="inner-banner style-6 subcategory-inner-banner">
    <div class="vertical-align">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-8 col-md-offset-2">
            <h4 class="color-white"><%= categoryName %></h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="subcategory-search">
    <%- include('partials/search'); %>
  </div>

  <!-- GRID    -->
  <div class="list-wrapper bg-grey-2">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-12">
          <div class="grid-content clearfix">
            <%  subcategories.forEach(function(subcategory){  %>

            <div class="list-item-entry">
              <div class="hotel-item style-9 bg-white">
                <%- include('../public/partials/subcategory-card', {subcategory}); %>
              </div>
            </div>
            <% }) %>
          </div>
        </div>
      </div>
    </div>
  </div>


  <% include ../public/partials/footer %>
</body>

</html>