<!DOCTYPE html>
<html>
  <% include ../public/partials/head %>
<body>
  <div class="headermobile">
    <div class="mobile-menu mm-button">
      <div class="mm-button-bar">
        <span class="mm-close mm-close1"></span>
        <span class="mm-close mm-close2"></span>
        <span class="mm-close mm-close3"></span>
      </div>
    </div>
    <div class="mobile-menu mm-logo">
      <a href="/"><img src="images/main_logo_cliff_100h.png"></a>
    </div>
    <div class="mobile-menu mm-empty"></div>
  </div>
  <header class="third-header">
    <div class="hamburger-himself-inside-pages hamburger-himself user-pages-hm">
        <div class="for-hamburger-himsel-inside-pages">
            <i class="fa fa-bars" aria-hidden="true"></i>
            <i class="fa fa-times" aria-hidden="true"></i>
        </div>
    </div>
    <div class="main-logo-box">
      <div class="empty-div-logo"></div>
      <a href="/"><img src="images/main_logo_cliff_100h.png" alt="cliff-page"></a>
    </div>
  </header>
  <div class="terms-and-conditions-box">
    <p class="terms-and-conditions-text">
      1. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <p class="terms-and-conditions-text">
      2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <p class="terms-and-conditions-text">
      3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>

  <% include ../public/partials/hidden-menu %>
  <% include ../public/partials/book-now %>

  </body>
</html>