<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="header">
                <h4 *ngIf="!data?.id" class="title">Добавяне на оферта</h4>
                <h4 *ngIf="data?.id" class="title">Редактиране на оферта</h4>
            </div>
            <div class="content">
                <form (ngSubmit)="onSubmit()" #offerForm="ngForm">
                    <!-- {{data | json}} -->
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Активна оферта ли е?</label>
                                <input type="checkbox" class="form-control" name="isActive" [(ngModel)]="data.isActive">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Подкатегория *</label>
                                <select #subcategoryId="ngModel" name="subcategories_id" [(ngModel)]="data.subcategoryId"
                                    class="form-control" required>
                                    <option *ngFor="let subcategory of subcategoriesList" [ngValue]="subcategory.id">
                                        {{subcategory.nameBg}}</option>
                                </select>
                                <div *ngIf="subcategoryId.invalid && (subcategoryId.dirty || subcategoryId.touched)"
                                    class="alert alert-danger">

                                    <div *ngIf="subcategoryId.errors.required">
                                        Подкатегория е задължително поле
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Транспорт *</label>
                                <select #transportType="ngModel" name="transport" [(ngModel)]="data.transportType"
                                    class="form-control" required>
                                    <option *ngFor="let transport of transportsList" [ngValue]="transport.id">
                                        {{ transportTranslations[transport.key] }}
                                    </option>
                                </select>
                                <div *ngIf="transportType.invalid && (transportType.dirty || transportType.touched)"
                                    class="alert alert-danger">

                                    <div *ngIf="transportType.errors.required">
                                        Вид транспорт е задължително поле
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Цена</label>
                                <div class="input-group">
                                    <span class="input-group-addon">€</span>
                                    <input type="number" class="form-control" name="price" [(ngModel)]="data.price"
                                        placeholder="Цена">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Промоционална оферта ли е?</label>
                                <input type="checkbox" class="form-control" name="isPromo" [(ngModel)]="data.isPromo">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Приоритет слайдър *</label>
                                <input type="number" class="form-control" name="sliderLevel"
                                    [(ngModel)]="data.sliderLevel" placeholder="Приоритет слайдър *">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Приоритет подкатегория *</label>
                                <input type="number" class="form-control" name="subcategoryLevel"
                                    [(ngModel)]="data.subcategoryLevel" placeholder="Приоритет подкатегория *">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Дестинации (град/курорт)</label>
                                <ol>
                                    <li *ngFor="let selectedDestination of selectedDestinations; let i = index">
                                        <div class="col-md-8">
                                            <select name="destination_{{i}}" [(ngModel)]="selectedDestination.id"
                                                class="form-control">
                                                <option *ngFor="let destination of destinationsList"
                                                    [disabled]="isDestionationAlreadyAdded(destination.id)"
                                                    [ngValue]="destination.id">
                                                    {{destination.name}}</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <button type="button" class="btn btn-danger"
                                                (click)="selectedDestinations.splice(i, 1)">
                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                            </button>
                                        </div>

                                    </li>
                                </ol>
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-primary" (click)="addNewDestination()">Нова
                                        Дестинация</button>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-md-4">
                            <div class="form-group">
                                <label>Референтен номер</label>
                                <input class="form-control" placeholder="Референтен номер" name="refId"
                                    [(ngModel)]="data.refId">
                            </div>
                        </div> -->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Промо Цена</label>
                                <div class="input-group">
                                    <span class="input-group-addon">€</span>
                                    <input type="number" class="form-control" name="promo_price"
                                        [(ngModel)]="data.promoPrice" placeholder="Промо Цена"
                                        [disabled]="!data.isPromo">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label>Дати на отпътуване/връщане *</label>
                        <div *ngFor="let date of data.dates; let i = index" class="row">
                            <div class="col-md-4">
                                <div class="input-group">
                                    <input class="form-control" placeholder="Отпътуване на (yyyy-mm-dd)"
                                        name="dp1_{{i}}" [(ngModel)]="date.dateFrom" ngbDatepicker #d1="ngbDatepicker"
                                        required>
                                    <div class="input-group-addon" (click)="d1.toggle()">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <input class="form-control" placeholder="Престой" type="number" name="stay_{{i}}"
                                        [(ngModel)]="date.stay" (change)="onUpdateStay(date)">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <input class="form-control" placeholder="Връщане на (yyyy-mm-dd)" name="dp2_{{i}}"
                                        [(ngModel)]="date.dateTo" ngbDatepicker #d2="ngbDatepicker" required>
                                    <div class="input-group-addon" (click)="d2.toggle()">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="btn btn-danger" (click)="data.dates.splice(i, 1)">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                        <div *ngIf="data.dates.length === 0" class="alert alert-danger">
                            Дати на отпътуване/връщане са задължителни за попълване
                        </div>
                        <div class="col-md-12">
                            <button type="button" class="btn btn-primary" (click)="addNewTravelDate()">Нови
                                дати</button>
                        </div>
                    </div>
                    <h3 class="col-md-12">Хотели</h3>
                    <div class="col-md-12">
                        <select name="hotels_list" [(ngModel)]="selectedHotelsId" class="form-control" multiple>
                            <optgroup [attr.label]="destination.name"
                                *ngFor="let destination of hotelsGroupedByDestination">
                                <option [ngValue]="hotel.id" *ngFor="let hotel of destination.hotels">
                                    {{hotel.name}}
                                </option>
                            </optgroup>
                        </select>
                    </div>
                    <h3 class="col-md-12">Снимки</h3>
                    <div class="col-md-12">
                        <div class="upload-images">
                            <label for="upload-images" class="upload-photo-button text-success ">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </label>
                            <input #fileUploadInput type="file" id="upload-images" name="upload-images"
                                class="file-upload hidden" (change)="onImagesChange($event)" />
                        </div>
                        <div *ngFor="let image of data.photos; let i = index" class="col-md-3 product-image">
                            <div class="media-image" [style.background-image]="sanitize(image.path)"></div>
                            <input type="checkbox" [(ngModel)]="image.isHead" [ngModelOptions]="{standalone: true}"
                                (change)="makeHead(image, i)">заглавна снимка<br>
                            <button type="button" class="btn btn-danger" (click)="deleteImage(image, i)">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="button" class="btn btn-default translations-tabs"
                            [class.btn-primary]="activeTab === lang.languageCode" *ngFor="let lang of data.translations"
                            (click)="activeTab = lang.languageCode">{{ languagesMapping[lang.languageCode] }}
                        </button>
                    </div>
                    <div class="col-md-12" *ngFor="let lang of data.translations"
                        [hidden]="activeTab !== lang.languageCode">
                        <h3>Информация на {{ languagesMapping[lang.languageCode] }}</h3>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Заглавие</label>
                                        <input type="text" class="form-control" name="{{lang.languageCode}}_name"
                                            placeholder="Заглавие" [(ngModel)]="lang.name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Подзаглавие</label>
                                        <input type="text" class="form-control" name="{{lang.languageCode}}_subtitle"
                                            placeholder="Подзаглавие" [(ngModel)]="lang.subtitle">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" *ngIf="data.isPromo">
                                <label class="text-warning">Промоционално заглавие</label>
                                <input type="text" class="form-control" name="{{lang.languageCode}}_promo_name"
                                    placeholder="Промоционално заглавие" [(ngModel)]="lang.promoTitle">
                            </div>

                            <div class="form-group">
                                <label>Маршрут</label>
                                <input type="text" class="form-control" name="{{lang.languageCode}}_itinerary"
                                    placeholder="Маршрут" [(ngModel)]="lang.itinerary">
                            </div>
                            <div class="form-group">
                                <label>Програма</label>
                                <textarea [froalaEditor] [(froalaModel)]="lang.schedule"
                                    name="{{lang.languageCode}}_schedule"></textarea>
                            </div>
                            <div class="form-group">
                                <label>Продължителност</label>
                                <input type="text" class="form-control" name="{{lang.languageCode}}_duration"
                                    placeholder="Продължителност" [(ngModel)]="lang.duration">
                            </div>
                            <div class="form-group">
                                <label>Цени и условия</label>
                                <textarea [froalaEditor] [(froalaModel)]="lang.pricing"
                                    name="{{lang.languageCode}}_pricing">
                                </textarea>
                            </div>
                            <div class="form-group">
                                <label>Друга информация</label>
                                <textarea [froalaEditor] [(froalaModel)]="lang.otherInfo"
                                    name="{{lang.languageCode}}_otherInfo"></textarea>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <!-- <div class="col-md-12">
                        <div class="form-group">
                            <input class="form-check-input" type="checkbox" name="is_top_offer" id="is_top_offer"
                                [ngModel]="data.isTop == 1 ? true : data.isTop == 0 ? false : null"
                                (ngModelChange)="data.isTop = $event ? 1 : 0">
                            <label class="form-check-label" for="is_top_offer">Топ оферта</label>
                        </div>
                        <div class="form-group">
                            <input class="form-check-input" type="checkbox" name="is_urgent" id="is_urgent"
                                [ngModel]="data.isUrgent == 1 ? true : data.isUrgent == 0 ? false : null"
                                (ngModelChange)="data.isUrgent = $event ? 1 : 0">
                            <label class="form-check-label" for="is_urgent">Спешна оферта</label>
                        </div>
                    </div> -->

                    <div class="col-md-12 text-danger" *ngIf="errorMessage">
                        {{errorMessage}}
                    </div>
                    <div class="col-md-12 form-footer">
                        <button type="submit" class="btn btn-success btn-fill"
                            [disabled]="!offerForm.form.valid || data.dates.length === 0">Запазване</button>
                        <!-- <button type="submit" class="btn btn-success btn-fill" [disabled]="false">Запазване</button> -->
                        <button type="button" class="btn btn-danger btn-fill" (click)="cancel()">Отказ</button>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>