.media-image {
  width: 200px;
  height: 200px;
  background-size: cover;
}
label.upload-photo-button {
  cursor: pointer;
}
label.upload-photo-button i {
  font-size: 48px;
}
ol, li {
    float: left;
    width: 100%;
}