<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Подкатегории</h4>
                        <button type="button" class="btn btn-primary btn-fill pull-right" routerLink="new">
                            Добави Подкатегория
                        </button>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th *ngFor="let cell of subcategoriesTable.headerRow">{{cell}}</th>
                                    <th>Опции</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of subcategoriesTable.dataRows">
                                    <td>{{row.id}}</td>
                                    <td>{{row.nameBg}}</td>
                                    <td>
                                        <button type="button" class="btn btn-warning" [routerLink]="row.id">
                                            Редакция
                                        </button>
                                        <button type="button" class="btn btn-danger" (click)="deleteCategory(row.id)">
                                            Изтриване
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>