<div class="col col-xl-12 col-lg-12">

    <div class="card mb-12">
        <div class="header">
            <h2>Хотели</h2>
            <button type="button" class="btn btn-primary btn-fill pull-right" routerLink="new">
                Добави Хотел
            </button>
        </div>
        <div class="card-body">
            <div class="content table-responsive table-full-width">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Име</th>
                            <th>Действия</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let hotel of hotelsList">
                            <td>#{{hotel.id}}</td>
                            <td>{{hotel.name}}</td>
                            <td>
                                <a [routerLink]="['/hotels', hotel.id]">
                                    <button type="button" class="btn btn-warning">Редакция</button>
                                </a>
                                <button type="button" class="btn btn-danger"
                                    (click)="deleteHotel(hotel)">Изтриване</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>