<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Оферти</h4>
                        <p class="category">Списък с добавени оферти</p>
                        <button type="button" class="btn btn-primary btn-fill pull-right" routerLink="new">
                            Добави оферта
                        </button>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th *ngFor="let cell of offersTable.headerRow">{{cell}}</th>
                                    <th>Действия</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of offersTable.dataRows">
                                    <td>{{row.id}}</td>
                                    <td>{{ resolveName(row.translations) }}</td>
                                    <td>{{ row.subcategoryLevel }}</td>
                                    <td>{{ row.isActive ? 'Да' : 'Не'  }}</td>
                                    <td>
                                        <button type="button" class="btn btn-warning" [routerLink]="row.id">
                                            Редакция
                                        </button>
                                        <button type="button" class="btn btn-danger" (click)="deleteOffer(row.id)">
                                            Изтриване
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>